<div class="msg">
	<div class="title">About</div>
	<div class="sub-title">What is this?</div>
	<div class="text">Word Bridge finds a sequence of synonyms connecting two words.</div>
	<div class="sub-title">How does it work?</div>
	<div class="text">Word Bridge makes a list of synonyms for each of your two search words. Then it finds synonyms for all of those synonyms. It keeps making lists of synonyms for each new synonym until it finds a sequence where your two search words lead to one another.</div>
	<div class="sub-title">What can I do after making a “Bridge” between two words?</div>
	<div class="text">1. To read dictionary definitions, tap any word in a path.</div>
	<div class="text">2. To create a new path between your two search terms, tap the “+” button.</div>
	<div class="text">3. To modify a path, tap the arrow “>” next to any word. That will cycle through synonyms of that word. If there’s one you’re interested in, tap the down arrow.</div>
	<div class="sub-title">For any questions</div>
	<div class="text">email us at: <a href="mailto:wordbridgeinfo@gmail.com">wordbridgeinfo@gmail.com</a></div>

	<div style="padding-top:2em;" class="text">Word Bridge uses <a href="https://wordnet.princeton.edu/citing-wordnet">wordnet</a>.  
Princeton University "About WordNet." WordNet. Princeton University. 2010.</div>

	<div class="text">Word Bridge also uses <a href="https://github.com/daizoru/node-thesaurus">node-thesaurus</a>.</div>

	<div class="dismiss">{{> dismiss-btn}}</div>
</div>