<div class="msg">
	<div class="title">About</div>
	<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat commodi facere asperiores doloremque, minus accusamus! Incidunt libero nihil laboriosam temporibus quis error itaque tempora, iusto provident earum. Magnam, ut ad.</div>
	<div class="dismiss">{{> dismiss-btn}}</div>
</div>