<div id="about" class="overlay fade hidden">
	<div class="msg">
		<h1>About</h1>
		<h2>What is this?</h2>
		<p >Word Bridge finds a sequence of synonyms connecting two words.</p>
		<h2>How does it work?</h2>
		<p>Word Bridge makes a list of synonyms for each of your two search words. Then it finds synonyms for all of those synonyms. It keeps making lists of synonyms for each new synonym until it finds a sequence where your two search words lead to one another.</p>
		<h2>What can I do after making a “Bridge” between two words?</h2>
		<p>1. To read dictionary definitions, tap any word in a path.</p>
		<p>2. To create a new path between your two search terms, tap the “+” button.</p>
		<p>3. To modify a path, tap the arrow “>” next to any word. That will cycle through synonyms of that word. If there’s one you’re interested in, tap the down arrow.</p>
		<h2>For any questions</h2>
		<p>email us at: <a href="mailto:wordbridgeinfo@gmail.com" target="_blank">wordbridgeinfo@gmail.com</a></p>

		<p>Word Bridge uses <a href="https://github.com/daizoru/node-thesaurus" target="_blank">node-thesaurus</a> and <a href="https://wordnet.princeton.edu/citing-wordnet" target="_blank">wordnet</a>.  
	Princeton University "About WordNet." WordNet. Princeton University. 2010.</p>

		<div class="dismiss"><a tabindex="0" onclick={B.aboutOut()} onkeypress={B.aboutOut()}>{{> dismiss-btn}}</a></div>
	</div>
</div>