<div id="report" class="overlay fade hidden">
	<div id="report-msg" class="msg">
		<div id="sorry" class="sorry fade hidden display-none">We couldn't find a path.  Sorry about that!</div>
		<h1 id="report-title" class="title"></h1>
		<p id="sub-title"></p>
		<div id="report-txt" class="txt"></div>
		<div id="report-dismiss" class="dismiss">
			<span id="fake-tab" tabindex="7"></span>
 			<button tabindex="8" onclick={B.dismissReport()} >
 				{{> dismiss-btn}}
 			</button>
 		</div>
	</div>
</div>