<!-- index  -->
<div id="loader" class="fade">
	<img src="/img/loader-white.svg" alt="">
</div>

<div id="about" class="fade hidden">
	<div class="msg">
		<div class="text">Synomap is ...</div>
		<div class="dismiss">
			<img src="/img/dismiss.svg" alt="">
		</div>
	</div>
</div>

<div id="report" class="fade hidden">
	<div id="report-msg" class="msg">
		<div id="sorry" class="sorry fade hidden display-none">We couldn't find a path.  Sorry about that!</div>
		<div id="report-txt" class="txt"></div>
		<div id="report-btn" class="btn"></div>
		<div id="report-dismiss" class="dismiss">
			<img src="/img/dismiss.svg" alt="">
		</div>
	</div>
</div>

<div id="header" class="index">
	<div id="title">Word Bridge</div>
	<div id="about-btn">about</div>
</div>

<div id="search" class="fade">
	<form action="/search" method="get">
		<input type="text" id="start-word" name="s" class="query" placeholder="word 1">
		<input type="text" id="end-word" name="e" class="query" placeholder="word 2">
		<input type="hidden" value="10" name="nl">
		<input type="hidden" value="10" name="sl">
		<input type="submit" value="bridge" id="bridge">
		<div class="ldr" id="ldr">
			<img src="/img/loader-black.svg" alt="">
		</div>
	</form>
</div>



<script type="text/javascript">
	B = {}; // need B for helpers
</script>
<script src="/js/helpers.js"></script>
<script src="/js/index.js"></script>
<script type="text/javascript">
	window.addEventListener('load', function() {
		if ("{{errmsg}}") 
			B.report("{{errmsg}}", 'Okay');	
	});
</script>


