<!-- index  -->
<div id="loader" class="overlay fade">
	<img src="/img/loader-white.svg" alt="">
</div>

<div id="about" class="overlay fade hidden">
	<div class="msg">
		<div class="title">About</div>
		<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat commodi facere asperiores doloremque, minus accusamus! Incidunt libero nihil laboriosam temporibus quis error itaque tempora, iusto provident earum. Magnam, ut ad.</div>
		<div class="dismiss">{{> dismiss-btn}}</div>
	</div>
</div>

<div id="report" class="overlay fade hidden">
	<div id="report-msg" class="msg">
		<div id="sorry" class="sorry fade hidden display-none">We couldn't find a path.  Sorry about that!</div>
		<div id="report-title" class="title"></div>
		<div id="report-txt" class="txt"></div>
		<div id="report-btn" class="btn"></div>
		<div id="report-dismiss" class="dismiss">{{> dismiss-btn}}</div>
	</div>
</div>

<div id="header" class="index">
	<div id="title">Word Bridge</div>
	<div id="about-btn"><span>about</span></div>
</div>

<div id="call">Create connections between words.</div>

<div id="search" class="fade">
	<form id="form" action="/bridge" method="get" autocomplete="off">
		<input type="text" id="start-word" name="s" class="query" placeholder="Enter word 1">
		<input type="text" id="end-word" name="e" class="query" placeholder="Enter word 2">
		<input type="hidden" value="10" name="nl">
		<input type="hidden" value="10" name="sl">
	</form>
	<input type="submit" value="Bridge" id="bridge" class="btn">
	<div class="ldr" id="ldr">
		<img src="/img/loader-black.svg" alt="">
	</div>
</div>

<script type="text/javascript">
	B = {}; // need B for helpers
</script>
<script src="/js/helpers.js"></script>
<script src="/js/index.js"></script>
<script type="text/javascript">
	window.addEventListener('load', function() {
		if ("{{errmsg}}") B.report("Error", "{{errmsg}}");
	});
</script>


