extends layout
block content
	div.menu
		img(src="/images/dots.png")
	div.index
		form(method="post", action="/search")
			input(type="text",  name="start")
			input(type="text",  name="end")
			input(type="hidden",value=10,name="nodelimit")
			input(type="hidden",value="10",name="synonymlevel")
			input(type="submit", value="Enter")
		if errormsg					
			div.errormsg=errormsg
		div.msg="Please wait while your search is performed."
	script(type="text/javascript").
		$('input[value="Enter"]').on('click', function() {
			$('.msg').fadeIn().css("display","inline-block");;
			$('.errormsg').fadeOut();
		});
		$('.menu').on('click', openMenu);
		function openMenu() {
			console.log("menu");
		}