
<div id="about" class="fade hidden">
	<div class="msg">
		<div class="text">Synomap is ...</div>
		<div class="dismiss">
			<img src="/img/dismiss.svg" alt="">
		</div>
	</div>
</div>

<div id="report" class="fade hidden">
	<div id="report-msg" class="msg">
		<div class="sorry">We couldn't find a path.  Sorry about that!</div>
		<div id="report-txt" class="txt"></div>
		<div id="report-btn" class="btn">
			<img src="img/dismiss.svg" alt="">
		</div>
	</div>
</div>

<div id="main">
	<header>
		<div id="aboutBtn">
			<img src="/img/menu.svg" alt="">
		</div>
		<div id="title">bridge two words</div>
	</header>
	<div class="index">
		<form action="/search" id="search" method="get">
			<input type="text" name="s" class="query" placeholder="first">
			<input type="text" name="e" class="query" placeholder="second">
			<input type="hidden" value="10" name="nl">
			<input type="hidden" value="10" name="sl">
			<input type="submit" value="Bridge">
		</form>
		<div class="ldr" id="ldr">
			<img src="/img/loader.svg" alt="">
		</div>
	</div>
</div>

<script type="text/javascript">
	B = {}; // need B for helpers
</script>
<script src="/js/helpers.js"></script>
<script src="/js/index.js"></script>
<script type="text/javascript">
	window.addEventListener('load', function() {
		if ("{{errmsg}}") 
			B.report("{{errmsg}}", 'Okay');	
	});
</script>
