<!-- index  -->
<div id="loader" class="overlay fade">
	<img src="/img/loader-white.svg" alt="">
</div>

<div id="about" class="overlay fade hidden">
	{{> about}}
</div>

<div id="report" class="overlay fade hidden">
	<div id="report-msg" class="msg">
		<div id="sorry" class="sorry fade hidden display-none">We couldn't find a path.  Sorry about that!</div>
		<div id="report-title" class="title"></div>
		<div id="report-txt" class="txt"></div>
		<div id="report-btn" class="btn"></div>
		<div id="report-dismiss" class="dismiss"><a href="#" tabindex="4">{{> dismiss-btn}}</a></div>
	</div>
</div>

<div id="header" class="index">
	<h1 id="title">Word Bridge</h1>
	<div id="about-btn"><a href="#" class="btn">about</a></div>
</div>

<div id="call">
	<p>Create connections between words.</p>
</div>

<div id="search" class="fade">
	<form id="form" action="/bridge" method="get" autocomplete="off">
		<input type="text" id="start-word" name="s" class="query" placeholder="Enter word 1" tabindex="1">
		<input type="text" id="end-word" name="e" class="query" placeholder="Enter word 2" tabindex="2">
		<input type="hidden" value="10" name="nl">
		<input type="hidden" value="10" name="sl">
	</form>
	<input type="submit" value="Bridge" id="bridge" class="big-btn" tabindex="3">
	<div class="ldr" id="ldr">
		<img src="/img/loader-black.svg" alt="">
	</div>
</div>

<script type="text/javascript">
	B = {}; // need B for helpers
</script>
<script src="/js/helpers.js"></script>
<script src="/js/index.js"></script>
<script type="text/javascript">
	window.addEventListener('load', function() {
		if ("{{errmsg}}") B.report("Error", "{{errmsg}}");
	});
</script>


