doctype html
html
  head
    title="synopath"
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    // jquery //
    script(src='/javascripts/jquery.min.js')

    //jquery mobile
    script(src="/javascripts/jquery.mobile.custom.min.js")
    
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
  body
    block content
//
  concept and design joel stillman
  development owen roberts
  MIT License 2015
  using node thesaurus https://github.com/daizoru/node-thesaurus
  and wordnet https://github.com/dariuszdziuk/wordnet