doctype html
html
  head
    if title
      title= title
    else 
      title="Synonym App"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
  body
    block content
//
  concept and design joel stillman
  development owen roberts
  MIT License 2015
  using node thesaurus https://github.com/daizoru/node-thesaurus
  and wordnet https://github.com/dariuszdziuk/wordnet