doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  body
    block content
//
  concept and design joel stillman
  development owen roberts
  MIT License 2015
  using node thesaurus https://github.com/daizoru/node-thesaurus
  and wordnet https://github.com/dariuszdziuk/wordnet