doctype html
html
  head
    if title
      title= "synopath: " + title
    else 
      title="synopath"
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    // jquery //
    script(src='/javascripts/jquery.min.js')
    
    //jquery ui //
    link(rel="stylesheet", href="/javascripts/jquery-ui.css")
    script(src="/javascripts/jquery-ui.min.js")
    script(src="/javascripts/jquery.ui.touch-punch.min.js")
    
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
  body
    block content
//
  concept and design joel stillman
  development owen roberts
  MIT License 2015
  using node thesaurus https://github.com/daizoru/node-thesaurus
  and wordnet https://github.com/dariuszdziuk/wordnet