extends layout
block content
	div.start= start
	div.nodes
		each node, index in path
			if index != 0
				div.node-dad
					div.node(id=node)=node
	div.end= end
	div.newsearch
		a(href="/")="Try a new search"

	script(type='text/javascript').
		var nodes = $('.node-dad');
		for (var i = 0; i < nodes.length; i++) {
			var showNode = function(num) {
				setTimeout( function() {
					$(nodes[num]).fadeIn();
				}, num*500);
			}(i);
		}
