#about {

	h1 {
		font-size: $base-font-size;
	}

	h2 {
		font-size: $menu-font-size;
		margin: 0.5em 0;
	}

	p {
		margin: 0.25em 0;
		margin-bottom: 2em;

		a {
			color: $blue;
			text-decoration: underline;
			cursor: pointer;

			/* accessibility */
			&:focus {
				border: none;
				outline: 0;
				// color: white; /* wait on joel */
			}
		}
	}
}