#bridgle {

	margin: 0 1em;
	margin-top: 2em;

	#nodes, #synonyms, #end-nodes {
		margin: 1em 0;
	}

	#nodes {
		display: flex;
		flex-wrap: wrap;
	}
	
	.node {
		opacity: 1;
		width: auto;

		.word {
			width: auto;
		}

		&.selection .word {
			font-weight: normal;
		}

		&.correct button {
			color: green;
		}

		&.close button {
			color: orange;
		}
	}

	#synonym-instructions {
		display: none;
	}

	#game-instructions {
		font-size: 1.5em;
	}

	#synonyms {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5em;
		display: none;
		
		button {
			font-size: 1.5em;
		}

		.selected {
			background-color: lightgreen;
		}
	}



	#play-button {
		text-align: center;
		font-size: 1.5em;
	}

	#input {
		
		display: none;

		#guess-button {
			margin-top: 1rem;
		}

		.next, .prev {
			height: 36px;
			display: inline-block;
			font-size: 26px;
			line-height: 0;
			cursor: pointer;
			transition: background-color $fade-dur ease-in-out;


			&.active {
				background-color: $btn;
			}

			margin-right: 6px;
			border-radius: 1em;
			background-color: #ededed;
			transition: background-color $fade-dur;

			width: 48px;
			height: 48px;

		}

		.prev {
			margin-left: auto;
		}

		#select-button {
			font-size: 1.25em;
			
		}

	}

	.keyboard & .prev:focus,
	.keyboard & .next:focus, { /* accessibility */
		background-color: $lightgray;
		box-shadow: 0 0 0 2px #AAAAAA;
		border-radius: 18px;
	}

}