#header.bridgle-header {

	justify-content: start;

	#header-buttons {
		margin-left: auto;
	}

	#header-buttons * {
		margin-left: 0.5rem;
	}

	#start-over {
		display: none;
	}

}


#bridgle {

	margin: 0 1rem;
	margin-top: 2rem;

	#nodes, #synonyms, #end-nodes {
		margin: 1rem 0;
	}

	#nodes {
		display: flex;
		flex-wrap: wrap;
	}
	
	.node {
		opacity: 1;
		width: auto;

		font-size: 26px;

		.word {
			width: auto;
			&:focus {
				border-bottom: 1px solid $gray;
			}
		}

		&.selection .word {
			font-weight: normal;
		}

		&.correct button {
			color: green;
		}

		&.close button {
			color: orange;
		}
	}

	#choose {
		font-weight: bold;
		font-size: 1.125rem;
	}

	#synonym-instructions {
		display: none;
	}

	#synonyms {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		display: none;
		
		button {
			font-size: 1.5rem;
		}

		button:hover {
			background-color: black;
		}

		.selected {
			background-color: lightgreen;
		}
	}

	#next-synonyms {
		display: none;
		button {
			border-bottom: 1px solid $gray;
		}
	}

	#game-instructions {
		font-size: 1.25rem;
	}

	#play-button {
		text-align: center;
		font-size: 1.5rem;
	}

	/* accessibility */
	.keyboard & .prev:focus,
	.keyboard & .next:focus, { 
		background-color: $lightgray;
		box-shadow: 0 0 0 2px #AAAAAA;
		border-radius: 18px;
	}

}

#end-game {
	display: none;
	margin: 0 1rem;
	font-size: 26px;
}

#bridgle-input {
	
	display: none;
	margin: 0 1rem;
	width: calc(100% - 2rem);
	position: absolute;
	bottom: 2em;

	#guess-button {
		margin-top: 1rem;
	}

	.next, .prev {
		height: 36px;
		display: inline-block;
		font-size: 26px;
		line-height: 0;
		cursor: pointer;
		transition: background-color $fade-dur ease-in-out;

		&:hover {
			background-color: lightgreen;
		}

		&.active, &:active {
			background-color: $btn;
		}

		margin-left: 6px;
		border-radius: 1em;
		background-color: #ededed;
		transition: background-color $fade-dur;

		width: 48px;
		height: 48px;

	}

	.prev {
		margin-left: auto;
	}

	#select-button {
		font-size: 1.25rem;
		
	}
}