.fade { transition: opacity $fade-dur ease-in; }
.visible { opacity: 1; }
.hidden { opacity: 0; }
.fade-in { opacity: 1; }
.fade-grey { opacity: 0.3; }
.fade-out { opacity: 0; }
.display-none { display: none; }
