* { box-sizing:border-box; }

html {
    -webkit-tap-highlight-color: transparent;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	width: 100%;
	overflow-x: hidden;
}

#desktop-container {
	height: 100%;
}

#container {
	width: 100%;
	max-width: $desktop-width;
	margin: 0 auto;
	background-color: white;
	height: 100%;
	position: relative;
	scrollbar-width: none;
}

pre { font-size:12px; } /* for error messages in express */

ul, li {
	padding:0;
	margin:0;
	list-style:none;
}

hr {
	border:none;
	border-bottom: 1px solid $gray;
	clear:both;
	margin:0;
}

input {
	border:none;
	font-weight:500;
	font: inherit;
}

svg.stroke {
	* { transition: stroke $fade-dur; }
	&:hover {
		* { stroke: $black; }
	}
}

svg.fill {
	path { transition: fill $fade-dur; }
	&:hover {
		path { fill: $black; }
	}
}

a:hover {
	cursor: pointer;
	color: $black;
}

a:focus {
	outline: 0;
	border-bottom: 1px solid #AAAAAA;
}

/* home page inputs are accessibility friendly */
input:focus {
	outline: 0;
}

select { margin:1em; }

button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	font: inherit;
}

button:focus {
	outline: 0;
}

span::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

.ldr {
	font-size:20px;
	display:none;
	img { width:40px; }
}

.big-btn {
	
	font-size: 1em;
	cursor: pointer;
	padding: 0.25em 0.5em;
	
	border: 2px solid black;
	border-radius: 3px;
	background: transparent;

	&:focus, /* accessibility */
	&.active, 
	&:hover {
		background-color: black;
		color: white;
	}

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;  
}