#header {
	width: 100%;
	transition: background-color 500ms;
	/* padding: 0.25em; */
	padding: 1rem;
	position: relative;
	font-size: 18px;
	height: 70px;
	margin-bottom: 1em;
	
	display: flex;

	#home-btn { flex: 2; }
	#re-bridge-btn, #edit-bridge-btn { flex: 1; }


	#home-btn, #re-bridge-btn, #edit-bridge-btn { 
		font-size: $base-font-size;
	}
}

.index {
	justify-content: space-between;
}