#header {
	width: 100%;
	padding: 1rem;
	position: relative;
	font-size: $menu-font-size;
	height: 70px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;

	#home-btn { 
		display: inline-block;
		text-align: center;
		width: 62px; 
		height: 36px;
		order: 1;
	}

	#re-bridge-btn {
		margin-left: auto;
	}

	#edit-bridge-btn { 
		margin-left: 1em;
	}

	#re-bridge-btn, 
	#edit-bridge-btn { 
		order: 2;
	}

	.btn {
		border-bottom: 1px solid transparent;
		.keyboard &:focus, /* accesssibility */
		&:hover, 
		&:active {
			border-bottom: 1px solid #AAAAAA;
		}
	}
}

.index {
	justify-content: space-between;
}

