.fadein { opacity:0; }

#chains {
	position: relative;
	font-size: $base-font-size;
	.chain {
		position: absolute;
		padding-bottom: 3em;
		width: 100%;
		z-index: 0;
		opacity: 0;
		// display: none;
		&.current { 
			z-index: 2; 
			opacity: 1;
			background-color: $white;
			min-height: 400px;
			// display: block;
		}
	}
}

.nodes {
	
	position: relative;
	width: 100%;
	transition: top 500ms;
	top: 0px;
	background-color: $white;
	/* min-width: 260px;
	min-height: 500px; */
	padding: 0 1rem;
	
	&.mod-disabled {
		.mod-open .active { display: none; }
		.mod-open .disabled { display: inline-block; }	
	}
}

.node {

	position: relative;
	padding: 0.1em 0;
	/* margin: 0.1em 0; */
	
	opacity: 0;

	display: flex;
	width: 100%;

	&.start, &.end { opacity: 1; }

	.word {
		flex: 1 100px;
		margin-right: 0.1em;
		width: 100px;
		button {
			border-bottom: 1px solid #AAAAAA;
		}

		/* accessibility */
		.keyboard & button:focus {
			background: lightgray;
		}
	}

	.mod-open {
		/* flex: 1 32px; */
		cursor: pointer;
		margin-right: 6px;
		background-color: white;
		border-radius: 1em;
		.active { display: inline-block; }
		.disabled { display: none; }

		.keyboard &:focus, /* accessibility */
		&:hover { 
			background-color: $lightgray;
		}
			
		.keyboard &:focus { /* accessibility */
			box-shadow: 0 0 0 2px #AAAAAA;
			border-radius: 18px;
		}

		opacity: 0;
		visibility: hidden;
		transition: opacity 300ms ease-in-out;
		
		&.edit {
			opacity: 1;
			visibility: visible;
		}
	}

	.mod-options {
		display: none;
		/* margin-right: 0.5em; */
		box-shadow: -5px 0px 10px white;
		background: white;
		z-index: 9;
		position: relative;
		font-size: 0; /* temp fix for first path chain mod options spacing */

		.keyboard & button:focus { /* accessibility */
			background-color: $lightgray;
			box-shadow: 0 0 0 2px #AAAAAA;
			border-radius: 18px;
		}
	}

	.word, .next, .prev, .mod-btn, .mod-close {
		height: 36px;
		display: inline-block;
		font-size: 26px;
	}

	.next, .prev, .mod-btn, .mod-close, .mod-options, .mod-open {
		line-height: 0;
		cursor: pointer;
		transition: background-color 500ms ease-in-out;
		&.active {
			background-color: $btn;
		}
	}

	.next, .prev, .mod-btn, .mod-close {
		margin-right: 6px;
		border-radius: 1em;
	}

	.next, .prev, .mod-btn {
		background-color: #ededed;
		
		transition: background-color 300ms;
	}
	
	&:first-child, &:last-child {
		display:block;
		font-weight:600;
		text-transform: lowercase;
		.node {  
			-webkit-user-select: none;
			user-select: none;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			tap-highlight-color: rgba(0,0,0,0);
			-webkit-touch-callout: none !important;
			touch-callout: none !important;
		}
		&:hover { background:none; }
	}

	.ldr { position:absolute; }

	.arrow {
		display:inline-block;
		overflow:hidden;
		width:24px;
		position:absolute;
		top:0;
		left:250px;
		text-align:center;
		img {
			width:24px;
			vertical-align:middle;
		}
	}

	.inner-nodes {
		display:inline-block;
		position:relative;
	}

	&.mod-error .word { color: $gray; }
}
