/*  media queries */
/* desktop */
@media only screen and (min-width : $desktop-width) {
	#desktop-container {
		background-color: $lightgray;
		width: 100%;
		height: 100%;
		position: fixed;
	}

	#container {
		box-shadow: 0 0 10px $gray;
	}

	.overlay {
		min-width: 0;
	}

	#chain-nav, .overlay {
		width: 100%;
    	max-width: $desktop-width;
   		margin: 0 auto;
   	}
   	
   	#prev-chain { left: 0; }
   	#next-chain { right: 0; }
	/* #loader img { width: 2em; } */
}

/*  phone  */
@media screen and (max-device-width: 320px) {

}

@media screen and (max-device-width: 480px) {
	body {  -webkit-text-size-adjust: none; }
	.overlay { position: absolute; }
	.overlay .msg .dismiss { position: fixed; }

	#report {
		padding-top: 3em;

		#report-title {
			font-size: 1.5em;
		}
	}
}


/*  non phone   */
@media screen and (min-device-width: 480px){
	#container { padding-top: 50px; }
	.overlay {
		/*position: fixed;*/
		top: 0;
		padding-top: 60px;
		.msg .dismiss { top: 60px; }
	}
}

