#chain-nav {

	text-align: center;
	
	height: 0px;
	transition: height 500ms;
	&.slide-up { 
		height: 60px; 
		bottom: 0;
	}
	
	line-height: 55px;
	position: fixed;
	bottom: -3px;
	left: 0;
	right: 0;
	z-index: 3;
	background: $white;
	
	border-top: 3px solid $lightgray;
	
	#inner-chain-nav {
		max-width: 560px;
		margin: 0 auto;
		position: relative;
	}

	.chain-dot {
		display:inline-block;
		margin:0 4px;
		transition: color 300ms;
		color: $gray;
		cursor: pointer;
		&.current { 
			color: black; 
		}
	}

	.chain-dot:before { 
		content:"\2022"; 
		font-size: 1.5em;
	}

	#dots {
		display: inline-block;
	}

	.chain-btn {
		display: inline-block;
		position: absolute;
		svg path { stroke: $gray; }
		&.clickable svg path {
			stroke: $black;
		}
	}

	#prev-chain, #next-chain {
		cursor: pointer;
		svg {
			vertical-align: middle;
		}
		circle {
			transition: fill 500ms ease-in-out;
		}
		&.active {
			circle {
				fill: $tool;
			}
		}
	}

	#prev-chain { left: 2em; }
	#next-chain { right: 2em; }
}