#chain-nav {

	text-align: center;
	
	height: 0px;
	transition: height 500ms;
	
	&.slide-up { 
		height: 60px; 
		bottom: 0;
	}
	
	line-height: 55px;
	position: fixed;
	bottom: -3px;
	left: 0;
	right: 0;
	z-index: 3;
	background: $nav-bg;
	
	border-top: 3px solid $lightgray;
	
	#inner-chain-nav {
		max-width: 640px;
		margin: 0 auto;
		position: relative;
	}

	#dots {
		display: flex;
		justify-content: center;

		.chain-dot {
			display:inline-block;
			margin:0 4px;
			transition: color 300ms;
			color: $nav-dot;
			cursor: pointer;
			&.current { color: white; }

			/* accessibility */
			// &:focus {
			// 	box-shadow: 0 0 0 4px white,
			// 		0 0 0 2px black;
			// }
		}

		.chain-dot:before { 
			content:"\2022"; 
			font-size: 1.5em;
		}
	}

	.chain-btn {
		display: inline-block;
		position: absolute;
		top: 0;
		cursor: default;
		svg path { stroke: $nav-btn; }
		&.clickable { cursor: pointer; }
		&.clickable svg path { stroke: white; }
	}

	#prev-chain, #next-chain {
		svg { vertical-align: middle; }
		circle { transition: fill 500ms ease-in-out; }
		
		&:focus, // accessibility doesn't work with mouse focus sticks
		&.active {
			outline: 0;
			circle { fill: $nav-btn; }
		}
	}

	#prev-chain { left: 1em; }
	#next-chain { right: 1em; }
}