.overlay  {
	
	display: none;
	position: fixed;
	font-weight: 100;
	min-width: 100%;
	min-height: 100%;
	background-color: rgba($black, 0.95);
	padding: 32px;
	z-index: 4;
	font-size:20px;
	line-height: 1.45;
	
	max-width: $desktop-width;

	&#loader {
		background-color: rgba($black, 0.6);
		text-align: center;
		img { 
			width: 2em;
			height: 75%;
			margin-top: 25%;
		}
	}
	
	.msg {
		color: $white;
		overflow-y: scroll;
		max-width: 768px;
		
		&::-webkit-scrollbar {
   		 	width: 0.25em;
		}
		&::-webkit-scrollbar-thumb {
		  background-color: $blue;
		  border-radius:0.5em;
		}

		.btn {
			border: 1px solid $white;
			padding: 8px;
			border-radius: 3px;
			font-size: 0.75em;
			text-align: center;
			width: 200px;
			margin: 2em auto;
			&:active {
				background: $white;
				color: $black;
			}
		}
		.dismiss {
			
			cursor: pointer;
			position: absolute;
			top: 10px;
			right: 20px;
			
			circle, path { transition: all 300ms ease-in; }
			&:hover circle, 
			&.active circle,
			a:focus circle  { 
				fill: white; 
			}

			&:hover path, 
			&.active path,
			a:focus path  { 
				stroke: black; 
			}

			a:focus {
				border: none;
			}

		}
		.word { text-transform: capitalize; }
		.pos {
			margin-bottom:1em;
			&::after { content:"."; }
		}
		.sorry { margin-bottom: 1em; }
		.ok {
			color: $blue;
			margin-top:1.25em;
			cursor:pointer;
			text-align: center;
		}

		.share-item { 
			color: black;
			cursor: pointer;
			span {
				background-color: $active;
				transition: background-color 300ms ease-in;
				&:hover { background-color: $hover };
				padding: 0.5em;
				border-radius: 0.1em;
				font-size: 0.9em;
			}
			margin-bottom: 1.2em; 
			
		}

		#share-msg, #report-title, .title {
			margin-right: 2em;
			font-size: 1.4em;
			font-weight: 500;
			margin-bottom: 1em;
		}

		p { margin: 0.2em 0; }
	}
}