#report.swipe {
	margin-top:0;
	top: 168px;
}

#error, #about, .definition, #share-menu, #report {
	
	display: none;

	position: absolute;
	font-weight: 100;

	min-width: 100%;
	min-height: 100%;
	background-color: rgba($black, 0.95);
	padding: 32px;
	z-index: 3;
	font-size:20px;
	line-height: 1.45;

	
	.msg {
		color: $white;
		overflow-y: scroll;
		text-align:center;
		
		&::-webkit-scrollbar {
   		 	width: 0.25em;
		}
		&::-webkit-scrollbar-thumb {
		  background-color: $blue;
		  border-radius:0.5em;
		}

		.btn {
			border: 1px solid $white;
			padding: 8px;
			border-radius: 3px;
			font-size: 0.75em;
			text-align: center;
			width: 200px;
			margin: 2em auto;
			&:active {
				background: $white;
				color: $black;
			}
		}
		.dismiss {
			margin-top:2em;
		}
		.word { text-transform: capitalize; }
		.pos {
			margin-bottom:1em;
			&::after { content:"."; }
		}
		.sorry { margin-bottom: 1em; }
		.ok {
			color: $blue;
			margin-top:1.25em;
			cursor:pointer;
			text-align: center;
		}
		.share-item { 
			color: $blue; 
			margin: 0.5em 0; 
		}
		p { margin: 0.2em 0; }
	}
	
}