.fadein { opacity:0; }

#main {
	position:absolute;
	width:100%;
	border-left:1px solid $lightgray;
	height:100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: $white;
	z-index:-3;
}

#header {
	width: 100%;
	transition: background-color 500ms;
	/* padding: 0.25em; */
	
	&.tip {
		background-color: rgba($black, 0.95);
	}

	#about-btn {
		text-decoration: underline;		
	}
	
	#title {
		width: inherit;
		/* font-size: 0.75em; */
	}

	#home, #share, #plus {
		display:inline-block;
	}

	#plusbkg {
		transition: fill 500ms;
		&.tip {
			fill: white;
		}
	}

	#share {
		text-decoration: underline;
	}
}

#chain-nav {
	text-align:center;
	height: 50px;
	height: 0px;
	transition: height 500ms;
	line-height: 50px;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:3;
	background: $new_gray;
	-webkit-box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.25);
	   -moz-box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.25);
			box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.25);
	.chain-dot {
		display:inline-block;
		margin:0 4px;
		transition: color 300ms;
		color: $gray;
		&.current { color: black; }
	}
	.chain-dot:before { content:"\2022"; }
	&.slide-up { height: 50px; }
	#dots {
		display: inline-block;
	}
	.chain-btn {
		display: inline-block;
		position: absolute;
		color: $gray;
		&.clickable {
			color: black;
		}
	}
	#prev-chain { left: 2em; }
	#next-chain { right: 2em; }
}

#loader {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba($black, 0.6);
	z-index: 4;
	text-align: center;
	font-size:20px;
	opacity: 0;
	
	img { 
		width: 16%;
		height: 75%;
	}
	
	li {
		
		a {
			padding:0.5em;
			/* color:$blue; */
			display:inline-block;
			width:100%;
			position:relative;
		}
		.ldr { padding:0.5em; }
	}
}

#chains {
	
	position: relative;
	margin-top: 1em;
	
	font-size: 26px;
	
	.chain {
		position: absolute;
		padding-bottom: 1em;
		width: 100%;
		z-index: 0;
		opacity: 0;
		&.current { 
			z-index: 2; 
			opacity: 1;
		}
	}
}

.nodes {
	
	position: relative;
	width: 100%;
	transition: top 500ms;
	top: 0px;
	background-color: $white;
	min-width: 260px;
	min-height: 500px;
	
	&.mod-disabled {
		.mod-open .active { display: none; }
		.mod-open .disabled { display: inline-block; }	
	}
}

.node {

	position: relative;
	padding: 0.2em 0;
	margin: 0.1em 0;
	
	opacity: 0;

	display: flex;
	width: 100%;

	&.start, &.end { opacity: 1; }

	.word {
		flex: 1 100px;
		margin-right: 0.1em;
		width: 100px;
	}

	.mod-open {
		/* flex: 1 32px; */
		cursor: pointer;
		margin-right: 6px;
		.active { display: inline-block; }
		.disabled { display: none; }
	}

	.mod-options {
		display: none;
		/* margin-right: 0.5em; */
		box-shadow: -5px 0px 10px white;
	}

	&:hover {
		cursor: -webkit-grab; 
		cursor: -moz-grab;
		&:active {
			cursor: -webkit-grabbing; 
			cursor: -moz-grabbing;
		}
	}

	.word, .next, .prev, .mod-btn, .mod-close {
		height: 36px;
		display: inline-block;
	}
	.next, .prev, .mod-btn, .mod-close, .mod-options, .mod-open {
		line-height: 0;
		cursor: pointer;
	}

	.next, .prev, .mod-btn, .mod-close {
		margin-right: 6px;
	}

	
	&:first-child, &:last-child {
		padding:0.25em 0;
		display:block;
		font-weight:600;
		cursor:default;
		text-transform: lowercase;
		.node {  
			-webkit-user-select: none;
			user-select: none;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			tap-highlight-color: rgba(0,0,0,0);
			-webkit-touch-callout: none !important;
			touch-callout: none !important;
		}
		&:hover { background:none; }
	}
	.ldr { position:absolute; }
	.arrow {
		display:inline-block;
		overflow:hidden;
		width:24px;
		position:absolute;
		top:0;
		left:250px;
		text-align:center;
		img {
			width:24px;
			vertical-align:middle;
		}
	}
	.inner-nodes {
		display:inline-block;
		position:relative;
	}
	&.mod-error .word { color: $gray; }
}

#modified-search {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.9);
	padding: 2em;
	
	form {
		margin-bottom:1em;
		background:$lightgray;
	}
	input[type="submit"] {
		font-size:24px;
		white-space:pre-wrap;
		text-align:left;
		border:none;
		background:none;
	}
	button {
		background:$lightgray;
		text-align:left;
		border-radius: 4px;
		font-size:20px;
		padding:0.25em;
		border:none;
		font-family: Helvetica, sans-serif;
	}
}

.filter {
	position:absolute;
	padding:0.5em;
	margin:0.25em;
	box-shadow:0 0 5px $lightgray;
	display:none;
	left:200px;
	font-size:14px;
	border-radius:4px;
}

.newsearch {
	a {
		padding:0.5em;
		border:1px solid $lightgray;
	}
}

