#search {
	margin-top: 1rem;
	padding: 0 1rem;
	font-size: 26px;
	
	/* word inputs */
	input {
		margin: 0;
		border-radius: 0;
		border-bottom: 3px solid $black;
		font-size: 1em;
		display: block;
		padding-bottom: 8px;
		padding: 0.2em;
		
		&[type="text"] {
			width: 100%;
			&::-webkit-input-placeholder {
				color: $gray;
			}
		}
		&:focus {
			background:$gray; 
			color:$black;
		}
	}
	
	/* bridge button  */
	input[type="submit"] {
		margin-top: 1em;
		font-size: 1em;
		cursor: pointer;
		padding: 0.25em 0.5em;
		/*background-color: $disabled;*/
		background-color: $active;
		&.active {
			background-color: $active;
			color: $black;
			transition: background-color 300ms ease-in;
			&:hover {
				background-color: $hover;
			}
		}
		border: none;
		/*color: $gray;*/
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;  
	}
}