#tooltips {
	position: relative;
	transition: height 300ms ease-out;
	&.closed { 
		height: 0; 
		overflow: hidden;
	}
	&.open { height: 140px; }
	#tip-wrap-wrap {
		padding: 1em;
	}
	#tip-wrap {
		position: relative;
		border: 1px solid black;
		/*margin: 1rem;*/
		padding: 1em 2em;
		text-align: center;
		line-height: 1.5;
		font-size: 18px;
	}
	.tip-close {
		position: absolute;
		top: 0;
		right: 0;
	}
	.tip-text { margin-top: 0.5em; }
}

