@charset "UTF-8";
/* #c6c8ca; */
* {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

#desktop-container {
  height: 100%;
}

#container {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  background-color: white;
  height: 100%;
  position: relative;
}

pre {
  font-size: 12px;
}

a, .leftarrow, .rightarrow {
  cursor: pointer;
  color: black;
  text-decoration: none;
  transition: color 500ms;
}
a:hover, .leftarrow:hover, .rightarrow:hover {
  color: #f2f2f2;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

hr {
  border: none;
  border-bottom: 1px solid #C5C7C9;
  clear: both;
  margin: 0;
}

input {
  border: none;
  font-weight: 500;
}

svg.stroke * {
  transition: stroke 500ms;
}
svg.stroke:hover * {
  stroke: black;
}

svg.fill path {
  transition: fill 500ms;
}
svg.fill:hover path {
  fill: black;
}

a:hover {
  cursor: pointer;
  color: black;
}

a:focus {
  outline: 0;
  border-bottom: 1px solid #AAAAAA;
}

/* home page inputs are accessibility friendly */
input:focus {
  outline: 0;
}

select {
  margin: 1em;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
}

button:focus {
  outline: 0;
}

.ldr {
  font-size: 20px;
  display: none;
}
.ldr img {
  width: 40px;
}

.big-btn {
  font-size: 1em;
  cursor: pointer;
  padding: 0.25em 0.5em;
  border: 2px solid black;
  border-radius: 3px;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.big-btn:focus, .big-btn.active, .big-btn:hover {
  background-color: black;
  color: white;
}

/* svg loader dots animation */
#dOne {
  animation-iteration-count: infinite;
  animation-duration: 1.6s;
  animation-name: fadeOne;
}

#dTwo {
  animation-iteration-count: infinite;
  animation-duration: 1.6s;
  animation-name: fadeTwo;
}

#dThree {
  animation-iteration-count: infinite;
  animation-duration: 1.6s;
  animation-name: fadeThree;
}

@keyframes fadeOne {
  0% {
    opacity: 0.6;
  }
  10% {
    opacity: 0.8;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.1;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.4;
  }
}
@keyframes fadeTwo {
  0% {
    opacity: 0.1;
  }
  10% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes fadeThree {
  0% {
    opacity: 0.1;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.2;
  }
}
#header {
  width: 100%;
  padding: 1rem;
  position: relative;
  font-size: 18px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header #home-btn {
  display: inline-block;
  text-align: center;
  width: 62px;
  height: 36px;
  order: 1;
}
#header #re-bridge-btn {
  margin-left: auto;
}
#header #re-bridge-btn,
#header #edit-bridge-btn {
  order: 2;
  flex-basis: 90px;
}
.keyboard #header .btn:focus, #header .btn:hover, #header .btn:active {
  text-decoration: underline;
  text-decoration-color: #AAAAAA;
  text-underline-position: under;
}

.index {
  justify-content: space-between;
}

#title {
  font-size: inherit;
  font-weight: bold;
}

#call {
  font-size: 18px;
  padding: 0 1rem;
  width: 260px;
  margin-bottom: 2rem;
}
#call p {
  margin: 0;
}

#search {
  margin-top: 1rem;
  padding: 0 1rem;
  font-size: 26px;
  /* word inputs */
}
#search input[type=text] {
  margin: 0;
  border-radius: 0;
  border-bottom: 3px solid black;
  font-size: 1em;
  display: block;
  padding-bottom: 8px;
  padding: 0.2em;
}
#search input[type=text][type=text] {
  font-weight: normal;
  width: 100%;
  transition: border-color 300ms ease-in;
}
#search input[type=text][type=text]::-webkit-input-placeholder {
  color: #919191;
  transition: color 300ms ease-in;
}
#search input[type=text][type=text].error {
  border-color: #C40000;
}
#search input[type=text][type=text].error::-webkit-input-placeholder {
  color: #EA6A6A;
}
#search input[type=text]:focus {
  background: #C5C7C9;
  color: black;
}
#search #bridge {
  margin-top: 1em;
  font-weight: bold;
}

#about h1 {
  font-size: 26px;
}
#about h2 {
  font-size: 18px;
  margin: 0.5em 0;
}
#about p {
  margin: 0.25em 0;
  margin-bottom: 2em;
}
#about p a {
  color: #6a75ff;
  text-decoration: underline;
  cursor: pointer;
  /* accessibility */
}
.keyboard #about p a:focus {
  border: none;
  outline: 0;
  border-radius: 3px;
  box-shadow: 0 0 0 2px black, 0 0 0 4px white;
}

.fadein {
  opacity: 0;
}

#chains {
  position: relative;
  font-size: 26px;
}
#chains .chain {
  position: absolute;
  padding-bottom: 2em;
  width: 100%;
  z-index: 0;
  opacity: 0;
}
#chains .chain.current {
  z-index: 2;
  opacity: 1;
  background-color: white;
  min-height: 400px;
}

.nodes {
  position: relative;
  width: 100%;
  transition: top 500ms;
  top: 0px;
  background-color: white;
  /* min-width: 260px;
  min-height: 500px; */
  padding: 0 1rem;
}
.nodes.mod-disabled .mod-open .active {
  display: none;
}
.nodes.mod-disabled .mod-open .disabled {
  display: inline-block;
}

.node {
  position: relative;
  padding: 0.1em 0;
  /* margin: 0.1em 0; */
  opacity: 0;
  display: flex;
  width: 100%;
}
.node.start, .node.end {
  opacity: 1;
}
.node .word {
  flex: 1 100px;
  margin-right: 0.1em;
  width: 100px;
  /* accessibility */
}
.node .word button {
  border-bottom: 1px solid #AAAAAA;
}
.keyboard .node .word button:focus {
  background: lightgray;
}
.node .mod-open {
  /* flex: 1 32px; */
  cursor: pointer;
  margin-right: 6px;
  background-color: white;
  border-radius: 1em;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease-in-out;
}
.node .mod-open .active {
  display: inline-block;
}
.node .mod-open .disabled {
  display: none;
}
.keyboard .node .mod-open:focus, .node .mod-open:hover {
  background-color: #f2f2f2;
}
.keyboard .node .mod-open:focus {
  /* accessibility */
  box-shadow: 0 0 0 2px #AAAAAA;
  border-radius: 18px;
}
.node .mod-open.edit {
  opacity: 1;
  visibility: visible;
}
.node .mod-options {
  display: none;
  /* margin-right: 0.5em; */
  box-shadow: -5px 0px 10px white;
  background: white;
  z-index: 9;
  position: relative;
  font-size: 0;
  /* temp fix for first path chain mod options spacing */
}
.keyboard .node .mod-options button:focus {
  /* accessibility */
  background-color: #f2f2f2;
  box-shadow: 0 0 0 2px #AAAAAA;
  border-radius: 18px;
}
.node .word, .node .next, .node .prev, .node .mod-btn, .node .mod-close {
  height: 36px;
  display: inline-block;
  font-size: 26px;
}
.node .next, .node .prev, .node .mod-btn, .node .mod-close, .node .mod-options, .node .mod-open {
  line-height: 0;
  cursor: pointer;
  transition: background-color 500ms ease-in-out;
}
.node .next.active, .node .prev.active, .node .mod-btn.active, .node .mod-close.active, .node .mod-options.active, .node .mod-open.active {
  background-color: #6d6d6d;
}
.node .next, .node .prev, .node .mod-btn, .node .mod-close {
  margin-right: 6px;
  border-radius: 1em;
}
.node .next, .node .prev, .node .mod-btn {
  background-color: #ededed;
  transition: background-color 300ms;
}
.node:first-child, .node:last-child {
  display: block;
  font-weight: 600;
  text-transform: lowercase;
}
.node:first-child .node, .node:last-child .node {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none !important;
  touch-callout: none !important;
}
.node:first-child:hover, .node:last-child:hover {
  background: none;
}
.node .ldr {
  position: absolute;
}
.node .arrow {
  display: inline-block;
  overflow: hidden;
  width: 24px;
  position: absolute;
  top: 0;
  left: 250px;
  text-align: center;
}
.node .arrow img {
  width: 24px;
  vertical-align: middle;
}
.node .inner-nodes {
  display: inline-block;
  position: relative;
}
.node.mod-error .word {
  color: #C5C7C9;
}

.overlay {
  display: none;
  position: fixed;
  font-weight: 100;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 32px;
  z-index: 4;
  font-size: 20px;
  line-height: 1.45;
  max-width: 540px;
}
.overlay#loader {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.overlay#loader img {
  width: 2em;
  height: 75%;
  margin-top: 25%;
}
.overlay .msg {
  color: white;
  overflow-y: scroll;
  max-width: 768px;
}
.overlay .msg::-webkit-scrollbar {
  width: 0.25em;
}
.overlay .msg::-webkit-scrollbar-thumb {
  background-color: #6a75ff;
  border-radius: 0.5em;
}
.overlay .msg #report-title {
  margin-bottom: 2em;
}
.overlay .msg .btn {
  border: 1px solid white;
  padding: 8px;
  border-radius: 3px;
  font-size: 0.75em;
  text-align: center;
  width: 200px;
  margin: 2em auto;
}
.overlay .msg .btn:active {
  background: white;
  color: black;
}
.overlay .msg .dismiss {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}
.overlay .msg .dismiss circle, .overlay .msg .dismiss path {
  transition: all 300ms ease-in;
}
.overlay .msg .dismiss:hover circle, .overlay .msg .dismiss.active circle,
.overlay .msg .dismiss button:focus circle {
  fill: white;
}
.overlay .msg .dismiss:hover path, .overlay .msg .dismiss.active path,
.overlay .msg .dismiss button:focus path {
  stroke: black;
}
.overlay .msg .dismiss a:focus {
  border: none;
}
.overlay .msg .word {
  text-transform: capitalize;
}
.overlay .msg .pos {
  margin-bottom: 1em;
}
.overlay .msg .pos::after {
  content: ".";
}
.overlay .msg .sorry {
  margin-bottom: 1em;
}
.overlay .msg p {
  margin: 0.2em 0;
}

/*  media queries */
/* desktop */
@media only screen and (min-width: 540px) {
  #desktop-container {
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
    position: fixed;
  }

  #container {
    box-shadow: 0 0 10px #C5C7C9;
    overflow-y: scroll;
  }

  #container::-webkit-scrollbar {
    width: 0;
  }

  #chain-nav, .overlay {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
  }

  #prev-chain {
    left: 0;
  }

  #next-chain {
    right: 0;
  }

  /* #loader img { width: 2em; } */
  .overlay {
    overflow-y: scroll;
    height: inherit;
    min-width: 0;
  }

  .overlay::-webkit-scrollbar {
    width: 0.75rem;
  }

  .overlay::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
  }

  .overlay::-webkit-scrollbar-thumb {
    background-color: white;
    /*outline: 1px solid slategrey;*/
  }
}
/*  phone  */
@media screen and (max-device-width: 320px) {
  #tooltips.open {
    height: 180px;
  }
}
@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: none;
  }

  .overlay {
    position: absolute;
  }

  .overlay .msg .dismiss {
    position: fixed;
  }

  #tooltips #tip-wrap {
    font-size: 16px;
  }
}
/*  non phone   */
@media screen and (min-device-width: 480px) {
  #container {
    padding-top: 50px;
  }

  .overlay {
    /*position: fixed;*/
    top: 0;
    padding-top: 60px;
  }
  .overlay .msg .dismiss {
    top: 60px;
  }
}
#chain-nav {
  text-align: center;
  height: 0px;
  transition: height 500ms;
  line-height: 55px;
  position: fixed;
  bottom: -3px;
  left: 0;
  right: 0;
  z-index: 3;
  background: #212121;
  border-top: 3px solid #f2f2f2;
}
#chain-nav.slide-up {
  height: 60px;
  bottom: 0;
}
#chain-nav #inner-chain-nav {
  max-width: 640px;
  margin: 0 auto;
  position: relative;
}
#chain-nav #dots {
  display: flex;
  justify-content: center;
}
#chain-nav #dots .chain-dot {
  display: inline-block;
  margin: 0 4px;
  transition: color 300ms;
  color: #8D8D8D;
  cursor: pointer;
  /* accessibility */
}
#chain-nav #dots .chain-dot.current {
  color: white;
}
#chain-nav #dots .chain-dot:focus {
  box-shadow: 0 0 0 4px white, 0 0 0 2px black;
}
#chain-nav #dots .chain-dot:before {
  content: "•";
  font-size: 1.5em;
}
#chain-nav .chain-btn {
  display: inline-block;
  position: absolute;
  top: 0;
  cursor: default;
}
#chain-nav .chain-btn svg path {
  stroke: #747474;
}
#chain-nav .chain-btn.clickable {
  cursor: pointer;
}
#chain-nav .chain-btn.clickable svg path {
  stroke: white;
}
#chain-nav #prev-chain svg, #chain-nav #next-chain svg {
  vertical-align: middle;
}
#chain-nav #prev-chain circle, #chain-nav #next-chain circle {
  transition: fill 200ms ease-in-out;
}
.keyboard #chain-nav #prev-chain:focus, #chain-nav #prev-chain.active, .keyboard #chain-nav #next-chain:focus, #chain-nav #next-chain.active {
  outline: 0;
}
.keyboard #chain-nav #prev-chain:focus circle, #chain-nav #prev-chain.active circle, .keyboard #chain-nav #next-chain:focus circle, #chain-nav #next-chain.active circle {
  fill: #AAAAAA;
}
#chain-nav #prev-chain {
  left: 1em;
}
#chain-nav #next-chain {
  right: 1em;
}

.fade {
  transition: opacity 300ms ease-in;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.fade-grey {
  opacity: 0.3;
}

.fade-out {
  opacity: 0;
}

.display-none {
  display: none;
}

/*# sourceMappingURL=style.css.map */
