$lightgray: #f2f2f2;
$gray: #C5C7C9; /* #c6c8ca; */
$btn: #6d6d6d;
$tool: #ebebeb;
$black: black;
$white: white;
$lightblue: #f7f9ff;
$blue: #0081F6;
$blue: #6a75ff;

$error: #C40000;
$error-text: #EA6A6A;

$disabled: #cfe6ff;
$active: #75b5ff;
$hover: #499CFC;

$desktop-width: 540px;

$new_gray: #EDEDED;
$high_gray: #D1D1D1;

$input-text: #919191;

$nav-bg: #212121;
$nav-btn: #747474;
$nav-dot: #8D8D8D;

$base-font-size: 26px;

$btn-underline: 1px solid #AAAAAA;

@import 'global';
@import 'loader';
@import 'header';
@import 'index';
@import 'about';
@import 'main';
@import 'report';
@import 'media';
@import 'nav';
@import 'fade';