/* #c6c8ca; */
* {
  box-sizing: border-box; }

html {
  -webkit-tap-highlight-color: transparent; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  /* background-color: #ededed; */ }

#container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  background-color: white;
  height: 100%;
  position: relative; }

pre {
  font-size: 12px; }

a, .leftarrow, .rightarrow {
  color: black;
  /* text-decoration:none; */
  transition: color 500ms; }
  a:hover, .leftarrow:hover, .rightarrow:hover {
    color: #f1f1f2; }

ul, li {
  padding: 0;
  margin: 0;
  list-style: none; }

hr {
  border: none;
  border-bottom: 1px solid #C5C7C9;
  clear: both;
  margin: 0; }

input:focus {
  outline: none; }

input {
  border: none;
  font-weight: 500; }

svg.stroke * {
  transition: stroke 500ms; }
svg.stroke:hover * {
  stroke: black; }

svg.fill path {
  transition: fill 500ms; }
svg.fill:hover path {
  fill: black; }

a:hover {
  cursor: pointer;
  color: black; }

select {
  margin: 1em; }

.ldr {
  font-size: 20px;
  display: none; }
  .ldr img {
    width: 40px; }

/* svg loader dots animation */
#dOne {
  animation-iteration-count: infinite;
  animation-duration: 1.6s;
  animation-name: fadeOne; }

#dTwo {
  animation-iteration-count: infinite;
  animation-duration: 1.6s;
  animation-name: fadeTwo; }

#dThree {
  animation-iteration-count: infinite;
  animation-duration: 1.6s;
  animation-name: fadeThree; }

@keyframes fadeOne {
  0% {
    opacity: 0.6; }
  10% {
    opacity: 0.8; }
  20% {
    opacity: 1.0; }
  30% {
    opacity: 0.8; }
  40% {
    opacity: 0.6; }
  50% {
    opacity: 0.4; }
  60% {
    opacity: 0.2; }
  70% {
    opacity: 0.1; }
  80% {
    opacity: 0.1; }
  90% {
    opacity: 0.2; }
  100% {
    opacity: 0.4; } }
@keyframes fadeTwo {
  0% {
    opacity: 0.1; }
  10% {
    opacity: 0.2; }
  20% {
    opacity: 0.4; }
  30% {
    opacity: 0.6; }
  40% {
    opacity: 0.8; }
  50% {
    opacity: 1.0; }
  60% {
    opacity: 0.8; }
  70% {
    opacity: 0.6; }
  80% {
    opacity: 0.4; }
  90% {
    opacity: 0.2; }
  100% {
    opacity: 0.1; } }
@keyframes fadeThree {
  0% {
    opacity: 0.1; }
  10% {
    opacity: 0.1; }
  20% {
    opacity: 0.1; }
  30% {
    opacity: 0.2; }
  40% {
    opacity: 0.4; }
  50% {
    opacity: 0.6; }
  60% {
    opacity: 0.8; }
  70% {
    opacity: 1.0; }
  80% {
    opacity: 0.8; }
  90% {
    opacity: 0.4; }
  100% {
    opacity: 0.2; } }
#header {
  width: 100%;
  transition: background-color 500ms;
  /* padding: 0.25em; */
  padding: 1rem;
  position: relative;
  font-size: 18px;
  height: 70px;
  display: flex; }
  #header #about-btn, #header #share-btn {
    text-decoration: underline; }
  #header #about-btn {
    display: none; }
  #header #title {
    width: inherit;
    display: none;
    /* font-size: 0.75em; */ }
  #header #home-btn {
    margin-right: 0.5em; }
  #header #home-btn, #header #share-btn {
    display: none; }
  #header #home, #header #share, #header #plus {
    /* display:inline-block; */ }
  #header #plus {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; }
    #header #plus img {
      display: block;
      -webkit-transition: -webkit-transform 0;
      -ms-transition: -ms-transform 0;
      transition: transform 0; }
      #header #plus img.active {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transition: -webkit-transform .8s ease-in-out;
        -ms-transition: -ms-transform .8s ease-in-out;
        transition: transform .8s ease-in-out; }
  #header #share {
    text-decoration: underline; }

#search {
  margin-top: 1rem;
  padding: 0 1rem;
  font-size: 26px;
  /* word inputs */
  /* bridge button  */ }
  #search input {
    margin: 0;
    border-radius: 0;
    border-bottom: 3px solid black;
    letter-spacing: 1px;
    font-size: 1em;
    display: block;
    padding-bottom: 8px;
    padding: 0.2em; }
    #search input[type="text"] {
      width: 100%; }
      #search input[type="text"]::-webkit-input-placeholder {
        color: #C5C7C9; }
    #search input:focus {
      background: #C5C7C9;
      color: black; }
  #search input[type="submit"] {
    margin-top: 1em;
    font-size: 1em;
    cursor: pointer;
    padding: 0.25em 0.5em;
    background-color: #cfe6ff;
    border: none;
    color: #C5C7C9;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    #search input[type="submit"].active {
      background-color: #75b5ff;
      color: black; }

.fadein {
  opacity: 0; }

#loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
  text-align: center;
  font-size: 20px;
  opacity: 0; }
  #loader img {
    width: 16%;
    height: 75%; }
  #loader li a {
    padding: 0.5em;
    /* color:$blue; */
    display: inline-block;
    width: 100%;
    position: relative; }
  #loader li .ldr {
    padding: 0.5em; }

#chains {
  position: relative;
  font-size: 26px; }
  #chains .chain {
    position: absolute;
    padding-bottom: 2em;
    width: 100%;
    z-index: 0;
    opacity: 0; }
    #chains .chain.current {
      z-index: 2;
      opacity: 1; }

.nodes {
  position: relative;
  width: 100%;
  transition: top 500ms;
  top: 0px;
  background-color: white;
  /* min-width: 260px;
  min-height: 500px; */
  padding: 0 1rem; }
  .nodes.mod-disabled .mod-open .active {
    display: none; }
  .nodes.mod-disabled .mod-open .disabled {
    display: inline-block; }

.node {
  position: relative;
  padding: 0.1em 0;
  /* margin: 0.1em 0; */
  opacity: 0;
  display: flex;
  width: 100%; }
  .node.start, .node.end {
    opacity: 1; }
  .node .word {
    flex: 1 100px;
    margin-right: 0.1em;
    width: 100px; }
  .node .mod-open {
    /* flex: 1 32px; */
    cursor: pointer;
    margin-right: 6px;
    background-color: white;
    border-radius: 1em; }
    .node .mod-open .active {
      display: inline-block; }
    .node .mod-open .disabled {
      display: none; }
  .node .mod-options {
    display: none;
    /* margin-right: 0.5em; */
    box-shadow: -5px 0px 10px white;
    background: white;
    z-index: 9;
    position: relative; }
  .node:hover {
    cursor: -webkit-grab;
    cursor: -moz-grab; }
    .node:hover:active {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing; }
  .node .word, .node .next, .node .prev, .node .mod-btn, .node .mod-close {
    height: 36px;
    display: inline-block; }
  .node .next, .node .prev, .node .mod-btn, .node .mod-close, .node .mod-options, .node .mod-open {
    line-height: 0;
    cursor: pointer;
    transition: background-color 500ms ease-in-out; }
    .node .next.active, .node .prev.active, .node .mod-btn.active, .node .mod-close.active, .node .mod-options.active, .node .mod-open.active {
      background-color: #6d6d6d; }
  .node .next, .node .prev, .node .mod-btn, .node .mod-close {
    margin-right: 6px; }
  .node .next, .node .prev, .node .mod-btn {
    background-color: #ededed;
    border-radius: 1em;
    transition: background-color 300ms; }
  .node:first-child, .node:last-child {
    padding: 0.25em 0;
    display: block;
    font-weight: 600;
    cursor: default;
    text-transform: lowercase; }
    .node:first-child .node, .node:last-child .node {
      -webkit-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-touch-callout: none !important;
      touch-callout: none !important; }
    .node:first-child:hover, .node:last-child:hover {
      background: none; }
  .node .ldr {
    position: absolute; }
  .node .arrow {
    display: inline-block;
    overflow: hidden;
    width: 24px;
    position: absolute;
    top: 0;
    left: 250px;
    text-align: center; }
    .node .arrow img {
      width: 24px;
      vertical-align: middle; }
  .node .inner-nodes {
    display: inline-block;
    position: relative; }
  .node.mod-error .word {
    color: #C5C7C9; }

#report.swipe {
  margin-top: 0;
  top: 168px; }

#error, #about, .definition, #share-menu, #report {
  display: none;
  position: absolute;
  font-weight: 100;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 32px;
  z-index: 3;
  font-size: 20px;
  line-height: 1.45; }
  #error .msg, #about .msg, .definition .msg, #share-menu .msg, #report .msg {
    color: white;
    overflow-y: scroll;
    text-align: center; }
    #error .msg::-webkit-scrollbar, #about .msg::-webkit-scrollbar, .definition .msg::-webkit-scrollbar, #share-menu .msg::-webkit-scrollbar, #report .msg::-webkit-scrollbar {
      width: 0.25em; }
    #error .msg::-webkit-scrollbar-thumb, #about .msg::-webkit-scrollbar-thumb, .definition .msg::-webkit-scrollbar-thumb, #share-menu .msg::-webkit-scrollbar-thumb, #report .msg::-webkit-scrollbar-thumb {
      background-color: #6a75ff;
      border-radius: 0.5em; }
    #error .msg .btn, #about .msg .btn, .definition .msg .btn, #share-menu .msg .btn, #report .msg .btn {
      border: 1px solid white;
      padding: 8px;
      border-radius: 3px;
      font-size: 0.75em;
      text-align: center;
      width: 200px;
      margin: 2em auto; }
      #error .msg .btn:active, #about .msg .btn:active, .definition .msg .btn:active, #share-menu .msg .btn:active, #report .msg .btn:active {
        background: white;
        color: black; }
    #error .msg .dismiss, #about .msg .dismiss, .definition .msg .dismiss, #share-menu .msg .dismiss, #report .msg .dismiss {
      margin-top: 2em; }
    #error .msg .word, #about .msg .word, .definition .msg .word, #share-menu .msg .word, #report .msg .word {
      text-transform: capitalize; }
    #error .msg .pos, #about .msg .pos, .definition .msg .pos, #share-menu .msg .pos, #report .msg .pos {
      margin-bottom: 1em; }
      #error .msg .pos::after, #about .msg .pos::after, .definition .msg .pos::after, #share-menu .msg .pos::after, #report .msg .pos::after {
        content: "."; }
    #error .msg .sorry, #about .msg .sorry, .definition .msg .sorry, #share-menu .msg .sorry, #report .msg .sorry {
      margin-bottom: 1em; }
    #error .msg .ok, #about .msg .ok, .definition .msg .ok, #share-menu .msg .ok, #report .msg .ok {
      color: #6a75ff;
      margin-top: 1.25em;
      cursor: pointer;
      text-align: center; }
    #error .msg .share-item, #about .msg .share-item, .definition .msg .share-item, #share-menu .msg .share-item, #report .msg .share-item {
      color: #6a75ff;
      margin: 0.5em 0; }
    #error .msg p, #about .msg p, .definition .msg p, #share-menu .msg p, #report .msg p {
      margin: 0.2em 0; }

#tooltips {
  background-color: #6a75ff;
  color: white;
  margin: 12px;
  padding: 1em;
  font-size: 0.75em;
  margin-top: 60px;
  height: 0;
  transition: height 500ms; }
  #tooltips.active {
    height: 105px; }
  #tooltips #count {
    position: absolute;
    right: 1.5em; }
  #tooltips #tip_one, #tooltips #tip_two, #tooltips #tip_three {
    width: 75%; }
  #tooltips #tip_two {
    display: none; }
  #tooltips #tip_three {
    display: none; }
  #tooltips #next_btn {
    text-align: right; }

.fade {
  transition: opacity 500ms; }

.visible {
  opacity: 1; }

.hidden {
  opacity: 0; }

.fade-in {
  opacity: 1; }

.fade-grey {
  opacity: 0.3; }

.fade-out {
  opacity: 0; }

.display-none {
  display: none; }

/*  media queries */
/* desktop */
@media only screen and (min-width: 800px) {
  body {
    /* font-size:30px; */ }

  header {
    min-height: 52px; }

  #sidebar li {
    height: 52px; } }
/*  phone  */
@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: none; } }
#chain-nav {
  text-align: center;
  height: 0px;
  transition: height 500ms;
  line-height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: white;
  -webkit-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.25); }
  #chain-nav.slide-up {
    height: 50px; }
  #chain-nav #inner-chain-nav {
    max-width: 560px;
    margin: 0 auto;
    position: relative; }
  #chain-nav .chain-dot {
    display: inline-block;
    margin: 0 4px;
    transition: color 300ms;
    color: #C5C7C9;
    cursor: pointer; }
    #chain-nav .chain-dot.current {
      color: black; }
  #chain-nav .chain-dot:before {
    content: "\2022";
    font-size: 1.5em; }
  #chain-nav #dots {
    display: inline-block; }
  #chain-nav .chain-btn {
    display: inline-block;
    position: absolute; }
    #chain-nav .chain-btn svg path {
      stroke: #C5C7C9; }
    #chain-nav .chain-btn.clickable svg path {
      stroke: black; }
  #chain-nav #prev-chain, #chain-nav #next-chain {
    cursor: pointer; }
    #chain-nav #prev-chain svg, #chain-nav #next-chain svg {
      vertical-align: middle; }
    #chain-nav #prev-chain circle, #chain-nav #next-chain circle {
      transition: fill 500ms ease-in-out; }
    #chain-nav #prev-chain.active circle, #chain-nav #next-chain.active circle {
      fill: #ebebeb; }
  #chain-nav #prev-chain {
    left: 2em; }
  #chain-nav #next-chain {
    right: 2em; }

/*# sourceMappingURL=style.css.map */
