$lightgray: #f1f1f2;
$gray: #C5C7C9; /* #c6c8ca; */
$black: black;
$white: white;
$lightblue: #f7f9ff;
$blue: #0081F6;
$blue: #6a75ff;

$disabled: #cfe6ff;
$active: #75b5ff;

$new_gray: #EDEDED;
$high_gray: #D1D1D1;

@import 'global';
@import 'loader';
@import 'header';
@import 'search';
@import 'main';
@import 'report';
@import 'tooltips';
@import 'fade';
@import 'media';
@import 'nav';