body {
  font-size: 24px;
  font-family: Helvetica, sans-serif;
  margin: 0; }

a {
  color: grey;
  text-decoration: none; }
  a:hover {
    color: lightgrey; }

.index {
  margin: 0.5em; }

.errormsg {
  margin-top: 1em;
  border: 1px solid lightgrey;
  display: inline-block;
  padding: 0.5em; }

.msg {
  margin-top: 1em;
  border: 1px solid lightgrey;
  display: inline-block;
  padding: 0.5em;
  display: none; }

span {
  color: grey;
  font-size: 12px; }

input {
  border: none;
  background: lightgrey;
  padding: 0.5em;
  margin: 10px;
  font-size: 18px;
  display: block; }

input:focus {
  background: gray; }

input[type="submit"] {
  cursor: pointer;
  border: none;
  background: none;
  color: lightgrey; }
  input[type="submit"]:hover {
    color: black; }

select {
  margin: 1em; }

/*  look up page */
header {
  background: white;
  padding: 0.5em;
  padding-bottom: 0;
  z-index: 1;
  position: relative; }

hr {
  border: 2px solid lightgrey;
  height: 0;
  margin-bottom: 0; }

.nodes {
  position: relative;
  padding: 0.5em;
  transition: top 500ms;
  top: 0px; }

.node-dad {
  position: relative;
  display: none; }
  .node-dad .node {
    color: lightgrey;
    display: block;
    cursor: pointer;
    margin: 0.2em 0.1em; }
    .node-dad .node:hover, .node-dad .node.hover {
      color: grey; }

.node-dad:first-child, .node-dad:last-child {
  padding: 0.25em;
  display: block; }
  .node-dad:first-child .node, .node-dad:last-child .node {
    color: black; }

.filter {
  position: absolute;
  padding: 0.5em;
  margin: 0.25em;
  box-shadow: 0 0 5px lightgrey;
  display: none;
  left: 200px;
  font-size: 14px;
  border-radius: 4px; }

.newsearch a {
  padding: 0.5em;
  border: 1px solid lightgrey; }
