@font-face {
  font-family: 'AkzidenzGroteskBE-Md';
  src: url('fonts/AkzidenzGroteskBE-Md.eot?') format('embedded-opentype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AkzidenzGroteskBE-Md';
  src: url('fonts/AkzidenzGroteskBE-Md.otf') format('opentype'), url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAD6gAA8AAAAAcIwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAA+hAAAABoA
AAAcLq1JyUdERUYAADkQAAAAHwAAACABFQAGR1BPUwAAOVAAAAU0AAAQHlgrSElHU1VCAAA5MAAA
ACAAAAAgbJF0j09TLzIAAAHMAAAAVAAAAGBXJA0rY21hcAAABCwAAAJbAAAC0inuoSZnYXNwAAA5
CAAAAAgAAAAI//8AA2dseWYAAAhcAAAsNgAATTxb1Wm8aGVhZAAAAVgAAAA0AAAANgXteeNoaGVh
AAABjAAAACAAAAAkCFUEkGhtdHgAAAIgAAACCwAAA57fmCAubG9jYQAABogAAAHSAAAB0nyAaYxt
YXhwAAABrAAAAB4AAAAgATEAa25hbWUAADSUAAADCAAABrTbvSJycG9zdAAAN5wAAAFqAAAB960+
qeN42mNgZGBgYGRwnKZy3y2e3+YrAzfzC6AIw0VvqV8w+n/+fzaWk8yHgVwOBiaQKABqFA0oeNpj
YGRgYDr0P5YxguXR//z/mSwnGYAiKOA5ALDpB+x42mNgZGBgeMGQwcDOAAJMQMzIABJzAPMZACV6
AZ0AAHjaY2BiPM74hYGVgYXxC5BmYPgFoYHYiNGDgYGJm40BAhoYGNY7MDB4QbkMji5OrgwODAq/
mZje/WdjuMp8mOEXUJgRJMf4hekQkFJgYAIArNcSonjabZNNaxNRFIbfe2fURCJDlbZjNCrthNa2
GA0ELGqbgUoWakkC7twouHIhXXUluHLl1pU/Qjf9B/4AQV248ANBEBdZxS66GZ9zO9UoDTyc+3Xu
Ofd9Jy5R+Lk7YOM99d1zXfAvteS3lEWPVPfPtKy3WnYP1IK629a87bPWZN4J8YtO+LYyuAWr0IKp
cu0ydKEBbWpsGtyhP7TViZ7qJrWO+dcaQNO/UY8eNtkb+JEu+Y8auCz0Vyen76saRiu6zblhFFFj
K8SMOwbsz5I3S07f31MlylVjvcqZ48xT+r5uPdt7OHvfjYtd3p/5c8x76rqxUqL1PudWFTOegzX6
zsFxrmtj9LF3rbM3Dznj09zZpbeZMm8taDPSFHdWGdeI5zlzUd+1ToypP+SuRdZn6O8K85QeI9s3
7V1S/KT/G3i04HZ0zfQK86T4RP4R88I8genwBmqydjf4ktD/tnJyU3I79JuXTNPrmaD3IcQndTR4
YPpPgP6V4EFWjGEX7aMD/f+HHjaIafBgEvMAr6ifB70Pgf4awQP0n0R7xWjfg+IdfA26/9X/X+y7
6uG56TGBeWBeWbS78OossRb31YpeUMe+nWrwYv9bMb92lKD355Jf6LoRtE20wvw9fKCPJbSw/0UG
i7CA9s0DeJd53DAvoh96GH9TnbpXoa0nxWPyT/lXqpT/h1jxbyozpSMAeNqdkdVTlWEQxp/3HA62
IqGAiC9HxVYwKBPEREXBDqSlQylBultSSrq78yCMOjIqWBgYHD7F+Au8Uvx8PVzppTuzu7Oz89vZ
3QeAENOuAcIiyDCriKyWI80sG4BCDqoIAU90iQmxJDYkgISQdMGQ4KFgXCihylSdalIx1aY61Iia
0notsVhRrCJW+yHgeTaBopiRxsSCWDMymJEPGDnGSCWqSjUolZGGf5GE5/lJgE/lw3hv3oE35814
g1+iqcqp7z97uEGun5NwfVw318RVcYWc/sRd6ah0RGol+iLbXQ//Y0LYwg72cIAjrsAJznCBK9zg
DgV4wBNe8MZVXIMPfOEHfwTgOgIRhBsIZt8JRRjCEYFIRCEaMYhFHOKRgEQkIRkpSMVNpCEdGchE
FrJxCznIRR7yUYDbKEQRilGCUpShHBWoRBWqUYNa1KEeDWhEE5rRgla0oR0d6EQXutGDXvRBgn7c
wQDTTh7TIv7RUcCC4J8LWVMoJ5KfMXPW7Dlz581foLBQUUlZZdFiVTX1JRpLNZdRLfHyFSu1V61e
s3bd+g0bN+nobt6ydZuevoGh0fYdO3ft3mNsstd03/4DBw8dNjty9Jj58RMWlidPnT5z9tz5Cxcv
WV22tkFUdGx8WnZBSXFpeVlFVU11bV1DfWNTS1tre2dHb0+f5L2Xnb3TuF+Rh8tnH2fE5LCfwtFX
tp1rICq7Q23d8QhwC5IKwyKz7t0ffTn29tXrLgwMfZrkPn799sH/zbuJiITwxLjklNSkjEyk5+Xn
Dj5+7jny5GnAi2fDvwEF0tUyAAAAAAAAAAAAAAAAGABCAHIAxAEuAYQBnAG+AeACDAIgAjgCRAJQ
Al4ClgKyAuQDLANIA3wDwgPcBCgEbAR+BKAEtATIBN4FGAV6BZQF3gYQBkAGWAZuBpoGsgbABuAG
/AcMBygHQAduB5gH0ggECFAIYgiSCKYIxAjgCPgJDgkgCS4JQAlUCWIJcAnACfAKGApICnQKnArg
CwgLGgs6C1ILYAugC8wL8gwcDEgMZAygDMYM7g0CDR4NOA1cDXQNvg3MDhYOPA5UDpAO8A9CD2YP
eg/mD/gQRhCOEKoQuhEUESIRQBFcEYYRzhHcEgASIhIuEk4SahKSEq4S6BMwE5YTzhPuFA4UMhRs
FJIUyBTsFTgVWBV4FZwVwBXUFegWABYYFkwWhBa6FvAXKhd4F7IXzBgOGEYYfhi4GPQZEhk+GYYZ
3ho2GpIbBBtgG8YcMhx4HKoc3B0SHUodXh1yHYodoh3iHjAeXh6MHr4fBh84H1wfnh/OH/4gMiBm
IJAguiDqIPghEiEqIWohuCIQIlYieCKYIroi8CMCIxQjMCM8I1gjcCOYI6wjuiPII+Aj+iQUJEYk
eCSmJLwk2CTqJQIllCWmJbglyCYCJi4mPCZwJp4AAHjarXwJeFvFtfCduZZkedEuXe2Lr6RrWbYs
S7qSV3m3E+9OnMVJnM1xnD1xFi9JSEjiJCRAIAUSIGVvSoEu8KB9bYECTqFAKZTtvcfrQunXv+XR
NpASlr7GV//MXMlb4tD0/51IlqyZc86cOeucM6Ig1UFR1NtwjJJQcorS0iytDtNhPfu2t9hzCP2A
p4RLIA0oxl8+jgZSkHKCs2Aj/CuVSTEUBWiW8/KRaDjEGGRTXoONhZZC6LF5FbK3A+SVU5UFvyWM
f6GSmnJsWVbyyuxi1ARmHnraAs9RFspBUR4ZG2Pxgw+TR1hGHnoWPTzoT+AtR5+j177WvvuGrOuO
W9ZZV1v6LLsOKvYIz67J7v0P/NO7Ys3P0M+aFb29KyiKptyJE7CJ9lB+KkQVI6r1BkYWgJzeTut1
MqlMz/KBNC5mYPiAhI/EojFezSuAXmdg9HHAR0D/0Y7l+kKzpaC2yVdX3L/M4ijNi+j74nVqa4k/
38hG9nn9nhvyorRnk3J5s9kll92fzhS0R1dUhLK3b5fIdKaAvbVL+hxMyzZ7yr2Vobm6TcLpW6V+
q8V55sn0cE4t4r458Wt6HnyE0lBuKhdROQdxAhHH5mCmxjBX7bQsEoBsDqJYqteFQ3EoAQzQTh9k
EMeQz9PoeercDTGursnLB3KsbDbdTWc5TRaNWiqZY3Jm0+Ofg/Ja4aV8Ze7mENtSn1sc9tYtwkPm
NqnNigwavN9ZsM4eueOWqNWgiTbkOCzuUodOk+/wn7RGcn8KH3WMLwTnO/xbjOE7T8ScltBtFrbY
fs9Jhc2SxyC++xMX4Fp4ivJQRVQp4ntYKjOEQzE9Jhg9AhCJS0yUGYNeJ5XZARPl4jQf8eagFWo5
sgnhEPhwh7ralpeVkS/rCLQvjfcUGjrnOnoamrrjjfK5GfZvqzU2hT1oXzacV1BZyIPGwQ4HXEP7
+NyqKkfDqrxgcUv30rLAUqN6Y2b+k1KZxqxh7FajTbjrCWPI6y9HMggoPzhLnSVyjbVgQpLPIkEG
uSaHJoOIb7rCZmcUeHxh4iyYQ2soJMESWQCIGxBjyN4YwBxbyWprfVvVOrbV5Wj1hRybAttvPLa7
tzPUuW39wS0/pAhOM4IRFmFoY2jxBiKOXDQWRSww20pXW+rbqvvZlhxHK/wdhrHz2I3DazpCLbvW
Hdry7yIMFjwAupD+GtEbRsY5gKwQKAFXCVgu5gAcH9bLYqDMNN/vjUajWfKi4iI722loc6oa1E54
sMopYerzavPza/PqNaYak8XX0eGzYLhYJwdgI+aHBykI0kQEKqwHB/svXOj/+JNPPll74cJaNM6T
2EU9Sh2jsigqFtbrFACtgI/yrOcwrVJb4tH4sRHW4VEas0tlTRguDyAoANuRdFBapNT8l1+C7dsw
HLSaRxAcmsBhPaOjx47h8dnoCdsn9PcwCINs0DEoPAHHxuPIbrgTX0A1/C6lRTpDAZ0CTqhCHIi6
4GVzFFCvs9PhUBSqM6zxQEHJgdqicntvfKS6+ABfwYWY9LRsU4Gjtggs4BesbNLr17fd/935vujq
roeHh3xtTWGuuMZnHcS0NKOnjfAhSollWc2qI14/4JGi0UC2Zo+K25JttoUcDvjQeA84yNtb6Wxz
mOxRCeJlGqITWbeYS+/io7E4En1Cm0HGEcUl8i/9DeAEft1GS463IN+aq86EYF9J5dZVw801S9at
W9W4xeqb5/OXMm4/p8wcqpu7c0XzUHmbKAeFiBdZCEcI8RVLUDhkh0Sc7EiJRLaEpUSdkHBxXlbG
G8LRJBEvjGqKq5Y7ahsDHmM41Hb9wNaymsOgpIiPBIxBV152ZyDXkaeWgNetKwqjandzOJ5nUWS0
z106WFy+XabIL67MLzcpwHogaXaHLPkWbNORTMNM+A0qg+wg2lG01y4e7WBYC55cvHi38F8gd7fw
/sMyANd+/euLwePCcpCF1oH3VAbPYl4BmUuWZA2mn0MqgqwHNsmIahmnBb/LEP7OhDqWbj+ya26s
J/MmGPW5GcZaFWw1DgTh2YE7Qnv7Nt1sLRrJKAqrlDVceW2lDOwQ/VgQ4QGIXy6qEGMKAMyIqej4
SFyC3jEGGqNDrLNDxDvw9+tBkY0NGjNhdHH79gOr91RG6EytN9JeFF9q0m0JFxRFJOp8Z6QQSjU+
1lNX6avb3Nd/aGX7neai1urGoDPEOYX7QuWVgWxrnqWa7F0VJgitORP7JinNIvkAMRcPqRftZ80c
2zpHeAOe3fyZ8OypVQv29SFRRNpgQ/RrEf0Mkv0ImieSjamGsQBI2VTOiwkHZNO9NNEFUQICEDy2
7sTW7UeZPIs2yO3bsG7fn0oCWaE8PlDBecI6aXk0VCnRhsGqyMal27Z3e8o8ajnTldu5ft3i1U+B
YreOzYmy4VzhT4zHlJUfCQcyDJwJLSOE6MKybqcKKKoSIP4hBQHInxLiiE0llGKTCZKcxUPo0LE0
mS7k49WqxmDXliMr6kODN+4t6nBm6gEfDHhLQgUypYPRPKAzZ+U1zi9g3FvWDgzb5/7qyTG3U+MC
PZGa4likGmbpCsj+YrV4C4wjTslES4OMF9s2in7A+LE/HxPHJHZSb5MxuokxWA1lWENpnm07fPhw
JuOoMGSly2kQB+PHP9ofzNObs8vpTJlCn6FAe0clxuEZ+CIlxXYS8EAvgWfG+9Dj483bQOE6UDRw
keCiqK/BM+D7Ij0eZATwIzm07+/9/c/09xNZmAJPDvgCBJEMUo1/gqbnC29u+/TigPCGKMM8ejLA
15EMe7DWx2my5zJkg7HnZNgIESRRy6V4fd8dSQvObfVtPtApyc80ZYFdphy5R1JYEeDLiw8fBu8p
qlcUGYa6e8tpp1yf69HL+put6UbaE8wtaRB2HMM46xOjdBl8GfnzRrQOBu8kctjUFDWVTuw0ituk
kwInKhGikY5iqyP69iitzH34lfDade0hkPmTr525dWmEkcPy5ljH/kXN7qx2l1WZkbc6r7HNf/cf
ucquBfk/6AcBuzduz7eGO7vDDxqiHfvazgHTN3ff+B6nMrTMn7f1e3PCd4961Zrvrov3hJhPH65a
W52vAacKQnU9BYHCvWgNaAfgXuRTZMg6US7OJWO1Ya0nTIOPfcIXvpvPn7ogrDm36vhx7GbGQT3R
t0405xCao0XcDiJfpA4bGGxaUxYWuR4ayU8oFsIM5wKA5tC7qPiG7ry00xNtsDtKKhdXxYPb4vML
qlRV5kKf3m8+dLCqwOjMzvQEHXAMZKoWl8R8uZmZq1srVxvUcOHjQMGEAsYsifBX8KZMzYTtjM6U
AYmseBLn4f3wHcpJdgI7P68KG34JI/NyE6oVi0L3XqNn+albf/zCiYJ2vtBskklHpbq8BYs2bVnY
GTX9PRLP3/wyWPJTnTWQE9Fp2Fx7/Mi2XYfrXYhXaJfhPWjdSspKVm2HRIFlyFjSrDppj9FyG8fz
QvNzbmhscs0rjRobikfyC0s3WcJoSWkm08pfrn7Ir9XRADYJBSpNz5pHIllS0W8hPYU9CD62fcg3
iv/ULlgn3AS6hG+Dm8cvgM9hyze3PzuERgGyD270CmcrZCirdunfQX7zvUMoTmh5fEB4F44NirAD
iD/fQfyxYthqlp+QTBT/T7AnilKKUeAbaN/+9SfGbtt4T86+wr0r+rctru5LfxwcFPaVt717+uy7
O5eFbzq5ZfvBtoVJGo4lacZxACYijGhOO3xYeBMZmEIsOKBaeA6OCZ+h8TjHekuMYbRofMfBgySA
ScaAF0Ar+kxDPiPxE9Ii3iBy9tVDtEJZfNwVLGRiZnU6gpfNesO6NvnBDKu6ICzChnclaaG1LI2y
GUQLgMc//OL0MztQAmdBkz4X5oCW0ZfRq2dAnYh3Hnr6GOVcEoRXjfn4n8Ao9MJz498fRn8FVAuC
+xsEN0tcI84MtQiyFtqeP5B159Bd2QeeJ/oB68afIY+x8YtJuHCHuD8eGk0EeBYEqoM7hJ+nHxh6
A3yKWPOxoEZDkn74PHwX7ZGC7BJ2E8nY24688aR7gPBd8IN77li+fOxkzciK4lG4pXfp1h1L2LoK
Dqy6991Nm+964O2ipbeu3XLm6JZdx8z8cgwb07ICIVJQJiK7ISapqn6g1xJlJbHQvPMdvuq+eYu5
jv41a1ZEmEVsDhzL1GxZ2b5XJ/8Ydn4m1feWOm0ive7EH+gsRC/2uyhXTZk7HHCKwLG3padQDugs
z5y2Fdff9f2WM+s23zvHZM6eq097FQx3LNywfVH1Enb1PlVj6xvf6Hu4f/39y0N7fRYLADsO3ta3
8YbOjSJOLG+bie2xT9FBBS1D+82qp6yk84PyWLOtzeDw2ZX3nL5psKIi4AntLbYjLaQZY9UWb3Wu
U5kmfACkwv/Cjt/AtPU1NqUoDwzah2G0Lp547RTAQuDlsH3H1lwWSEvGQQ6AM2cFxHvFbG24I2Av
53XxBfU6tdNvufu6J9dvysx255Q4i1t1BU7X3ILq1rzwwvWl9SV7Rts2ZpmKgwaZUqNOl+m4Gt+a
4Vs6VRpWpypE+bg2XaqSM4F2vnQJb1Z5CF1o7TZiq1FsxCJFY3loOzeKVGt4/AewaRiP6UC0Y320
EVlFfMEqhAMMDqmCjiG6BHmkngAqnJb2I43RsrnZcjAqtw/MzdWqaaQXtblcRSFTr9W159u3grNC
W9zYwqrz3YSGdETDfARfiuEjRUAh7KvHXvm3X954L9GAsfG3RR4iXaFjKZ2h2UyAhlpQwAu/d8OZ
u3vX3n3b0ZVb9mwjxuHPgh79/iM0j/9RnIv0Be6f1GM0V0uHmRhc9LOPT5994K6//vzO63cjOp8V
DgCJ8A+wH9S++iqehzwYyrHHMI2ARuzBGOHa8wf/csddZ9D4BcL/AAY8JvwKeEQ8KE+ElaJ+klwE
uHiX/jWwY/w9ZOzug9KhoU3g/aEBMrY88RJogF+keB9GVgI0HD0qfA6/WDl+6yq6aHp+5mJReP/2
oPD4EFFubNteAm5xPsMjW8C71OajR0FG6Uq4dfWlN8iYVaAOliZ5q2U55IrB/qcHd+7edQ5Rf/Cz
z8A+Qnfi88QhICRw/ERJMNnC+JfNoZC4JjesoP6MrBaxrwzrvi3SDc8dEXXHnLgILkKa4qjoRGaE
zYBaZ2BYb9IloGgPJe/J0xWGx94t6Rui396TpgqeXhnN1cmUJ+jyxfN6VdlcKMe0qTBN4bVVG7N+
7K21se58j78qQwaWyArsi5zGeFj4wmnVu+lwd63bafLo5RKDMltnVTqV349pM9PkDpPNnmNUIvqq
EhcgS2yUncSgkxkISoKTZoQh+WvVUHz+4kNHetpLh0A/bIoUNqans3l6eXkJHPuy5PYdg3fURoTG
zqamXKPLr0xbkdxv5F8uoPUbU1lOMihgJiNyA/jLRnlpINpQVzrf02/d17jhxMmNXRvBrpAjOm9u
/aLV0ZaO23dtP71QtH8XUHyP6XWInmHSq05GHfY0nCrdPDQUWbT8+j3r5ocBNDlKSuNQojL6reFa
rALByqNDO+8vfqfJE1hcJVP73B59G4Kfg+AziF49ZU7Glyl3wBgYFzauXBghAU+sXXHHxlM3bQ60
FOplQVo4kTmnrPNXHylXrXmsbP+xg3tuYryGzPp95VXvrCd8SENPESQjyBMA0YyEkdVGfGX0OJuU
2pDsRjYPNzdDlbOq0JivZALq9M3gPmEVuG9hidVRaNSmraVNCsYnylVOohumIzpdOM/BVoc47gDk
wknXnfQLCIMDTLqDKDg5BDL0paeqFgcZ2ah2/hxLlrRsac9eW2FFmW1JhAY1ZeE59TG+HlwU1i6o
tbWYioJsPFddwEev284vinmUtT+obG+orayPk3WhZ0QHOf9B8QMRbqhH6xO3Aq+LjQ/X9CwuQuHX
IC0xVIcr5GnDSLcSNVE9ypeFnwNtiSJW7lBV/RGvC2ekP4RPT82b1Gz1EPqBT4+0CVl4DEgsp34M
n0FjNBNjxGNIniy9dnBwSGq8PkuZq0yn4TNomqxO1QS2aDP0Bal81yvaOkQzyhKw4uvZqqFzdz33
1tdONyD7Iex47jnh57+rP4PHY5p+PBk/VY+MTMZPCBbtR/tQQDyjnhz8kCeRDRGUedDi/qI3HFYA
/LpqyLokd6Vf31m6oFCrgUMgXZ1jLLaZh9JkufYylwFcLGbdrbZgWFfidgsvAh0t1TEevaowr+3P
gClSml2lvuVvYvyV6AnbF4uIn9gXQwr5xB5UjqiYYK2vUatUwKE0dbUtlK0FF8sYFZtj1hX784T/
phJxRa3D5Fn8nihfLNIDD4JLztk9usnQdYoSR6Hn5oGdt96ybfMd18HGipI5bSXxuku7Tp3eueP2
WwarF3fVNS3swXua6EExM410FlHJqKcZGZV0Mj+rHiptX797/5qWCtjAhxotfo+q8CF4OlBx/5aB
24pfAx/d3tncll9pz0IwTYkecInAtM60Aw6AWZ6S98NDQ2UL1g4eX7wkCICR47TBOZUlsTpwcXz9
W/HbBq4/UfdSXtyhaG2p6eoQ9xN0gQQ+Y0OSFacZPbLGAO1e1U650lPOzXGz6p3gYqNS51SBPbTF
MqfpR3gfDMjO/YnYeTF+EZMwLnkUwkxG/Ix40IqoNXRHlhVGItK+jI6KnatX1dkMC7hVuf7C6MIS
Q3jXptubmqo8BlcG2nxte37tyqDW3N5i15sYuUqp4WprknYlcQkE4VliX1nxkEg84Pby6uShKQhu
hBlGvV0X5DYz6XPnDm8E9/7eZrTIpX3pFbp5VGLhE0+Iupy4CCXgIoGV5CgXgPxkEANi4Obh4ZqV
ywtUKjiSpm2qcmVLAbIUWeHKUl00vxC4hA882ZU8w5clffM7CN6UuGXRdd848ODedXgKenxL1CF8
Vvc+GoeU26OdErhAefd1p4aWrBw8ed2ino33goVoUqXwApr4KFgoxizgPJpH8iCZ6L25MANaTpx+
7Pi6Nbd8+86b54GLHwoX770XZH24T4yREl3gP9AcLaFJRgL+VLaDCVy6Z7/VXF9vz1OpWG2G5vsH
tiJ0Lcs74tL1dLbMnA4E4UYMB3ufnyM4OA906QEJZdhScFL4AsiFLqD4FFzsEd7esAwUiGv0Jc6C
5bQG5+5aPg5j0QqA2In+6/GRPUNOTbCPsQFc98GSA7kKEIA+pcqQng2URlPzimq9BkA6ENAZHHKl
u3Zxq1mnRTmt2QTKKyVSvcq6wN1cZzKpQJWKtSwBxryGYoVMbtW6Vqi6qrWVMJvRRH0Ftaa8iJrQ
VJmQUt+E54ldQ+bim/3w/CUj/WFSrs6CEpFeoMcn2zZAznXw2VSU5/ARdwyR6K0AES/HI5lGxNuA
HYKSf4rgPddOMM7t3oBzwfWUAdcacPiP0gNs4Dii9GgToSWgt9S43LW2kMXKuoMVXd76nCJjAIx0
G0w5TgVjzlvU7VTpkf3IRat8LFV3xEEyyjGRvuSm6o5KkCZcEi7A4mTd0ZC4HZyHm1GM7yaWAa1Y
FqA5tVhzwTU8L0kcY7Sa1GA+aq9tdW6Q65kMeVzTr2NiC9pW8+X7FgKP1gk396Y3lIeMTlUaLbym
aY4FrbXpa3pV1U1bdo2qhV5QpDblNuwneIsSX8J58N+Rn8XnXWEDdnOFAC8+GfRgQ4MIJyevxPQD
nZ6NJmtYDHKO+EgO8YYnBojUs948AE2enkA44LQXGKI11YXOPGg51OEvap7jKl9h0WkPSuJNJUV7
22SyfBOf0GuyFcos04edVSuMjEaVXR2MFisyZDnGDZG6aIdPk8+a60rtBn24OOQvKt+Qb7U7bCv6
1QqVAtFvpGzwIDxC+XBmh0Wc1GgYGUfSNxkXw1U4JEtcjMH0I7bGpmSvUXiwXaVSqtWK9rY2q62M
nTenvbVDrVIqlerWljaLs8KdU2azthWDDfVz1q1rbFoDS1ot9rIcrsahb29tRwML21rRuDI3W2a3
tra2qsS5wi/aeld3tKxZg+UKyT/sht8lcqUl5WeZWDBAfMW8pcOg4K7bTnadyHn88QNPPO442X3r
HeAksCWo3orexx5DT4DsVWWiE+nTQ2LsgvycCfn8cGV/f//3wHLhQXARLBdlyZ94Di5DeUkUV3Q8
pGCUimDF4qkBZbhpOMOVJY/VuRg5o8YpMc0R+bIDByQ+BukgyKl9agO3tevAhuI8d5Wl0epc5s+t
dZol6qDH19fbMFpQunKp1pItA0Fbg9mQZXY4jDfb8r2KEm+a5pStfbC7nCuqba9doFVqWJU2O1er
83mKXZkWPqzJD8YWB1zzKtIzFVJo1GeBmqz0DMapd6szqlVsPmfJtKoBOUuDiY9gM3CTOAmtH7MR
V9IMAwOvDAzAMRTB4XPMisQ4LYEvklgAS4SOmOBUxWDqkQvgmEkxx+o28REtKSm4b+WyB/veOHXH
6074o5tuePaZYwu/tmRsjsG1KLx19OimUBfLNBbXVLbPr6gDK9cvbehe/M21p17/xZ1Hnnvm2OGf
dN4hqWas7hv719+YYzPWl82rqm1H+8KBbyCL+yrlEa0eTtBSxys4P4uKRRo9OehmDDI+WQiPRUEO
yKyTgvxAXrFS6zEYogpAMwaNUQ4boJwJe0vtTLVXFct1axVw76MGTbbcGsrV2TUKiSRTmqlUpSsz
0lFq4tAwypuMGbTcalNnInrKqFGUaH+K/CfypDGOj+lluKSKfjGvnDixcOEP8NPotpu3b29s2Cb+
Es/w0WacAd34bA1l1yjrhZHx1+CZv/ULD6OP0ib2AJ8hFSIsyBMmD5NJloNWjfwPkn+tPiV0bBqc
CK+0U7MJeKbd4uUWqtUaiUq/WZEht5UwK1aUqJQOVbZVGQe74eunbnnnza/d9W3w9LEbnn326LEf
w0Yoz67IaXbKsz2OXs5eX+UCL4LrNgFJJqPKyZJmCv/1+qt33/macObIcz85csMzT5P8+zewCYRQ
nIN0leZdehYsgE1Ll4r6JAFnQA/8FEkdito0kWjIoJPmeHWGUBRZQUnfib6+EyCvPC+vHFL4dd+r
+HUeNdH7MQB/gmIIJTllmKg0q7FHF6vN4z8Cg7//ff8HH/QLF0iZBNe9qQ8B7pdA+VyMjyaLHMiy
iRk+OaIO6z3zi8udRpNZQi+UZLJrGua29z79YU1ZRWWZw+FweWQ1xvkdJdUrOxpFmHrqA9CBYIax
hwkli6OTENFrfO4lVjnCJCfHcTPHnrTUsAaNKVtCL8gw+VurWpRWVZZGY1csmLs41wIXgbRsO+N0
K61qhRV8XmQzZVs0Kl3YGp4bZFh9eppMznjN8XY+p06pcap9Np0liwbJc42PUnmPjF14+6YlcOww
lYwVl6NY8TOSHfDElpODX9z3QVeg6BHcrDcUWMu4kZH1dr8hCw6DMKPThV6Bp4Xxmw32qM/1awHX
WxegPNZDzhZJlVYt/vOKVXQI+E/YxkONzZ78AnNTARyrufQezV16D7yn8fPtnbyTlZA6BPU59QjY
n6rpe0aR2hxDf89J1FN/QVGlFtf0ZVHEwmSwx0dQGsYfLSjwVt6tM8jkVdXZ6VmltDOnDTpwdKIQ
11hN/Q8A8FskF+DxGQ0+bEfbwlXr1QxrSGvo0pohUwZAmtJjFaoBUGvSAfZ54D7AIzsi9ihNOeiQ
JZMdrEBoRHtleWdHZbzzXeCzOXO9Dks+DNfM66quWji/Jq8g6PMEfck62ygYSdkBLaOX8bFCQH5x
f56wA+DTGYYgDeVdv6IXIfrx+bMVV2kmV4FIQK5OnXRzsXBMDhgwsSydCRwfm19c1jG2ZCMUbKCs
Tnhp6kI1GrlwAuiFvzWu6Wt8RPgmfMw5voAidSqMs4HgzKXyZ2KcVVEkM7DfdQXFGb8flNUKP5uk
owpoNfLxj66kT5IkRWmUHtGzkOhUHO1n/TVq1uU8uiZdG3lhfnFpx1g3YmIUlNYJP/untU/4DBiE
Cyn2PupAi4GUJXER5bxjaCfx2T+joJOHh6TGyoVxVQykKp40smPgEK63tuRtub4zwyf3wl2MR+6W
FMYDxSUlhw9/pBSrravi6dZ0R022qq/FLmPSPEW5xW3g8DHRi8O99H5Sp1RMrVRmImVmp1crj52I
dk9ULEHFCHW1+TSH9HH6/Ch/y8aJ+S8OD8+cr74MP8r2poMoGVw3kpe3awoVu4uLZ8LJmUaHNiwV
e3aQPWDFs1lSe5gOeFObVG8OWksD2db0NonWUeTMDWvkGVlTMMUcPkblLbIF1Sifw3I3fe2aGdSL
odF0LKe3bXt5+/YpMPfs2UNRk7DOEVg6nHlOWQHEzo7IQTjllCPe6YC9XeVl/ryyPrXJpNYYjZMY
DpR1lZfn+Yzor6Yco+gPUShH/y+pt2qwP8R5LYsYLRZGJWE13AP2j1/6cvnd4EFYK9wKqsaPPgWC
Pxw+exaFeA/v1IEaKlkbbiC1YRTjSWIoUZp5REvYjHMnBa0EM00zoJu9vmre1PzCiV/XHkqViufx
OvVeM2uOVvtzmSmWe1mrLMNY4Oq98zs//W+Wc5DacYOlIBL3O3MN6RIHsuut2K4bgdiXAXvQvoj+
fkrF14NEanrVV9iAZDpV+n12hEr1dcwyH4n0jPnPIplOza/HIj1tvuZy/EikZ4D4sSjTE1QQicYy
PZUO7UxIonjNALWYyNcEJCJdENdtqLfo/anzVjVLIzo6Dh6cg9eO5ITeP0Lo7kA4HFPHadF60bhM
vEY8ToYXCBO4CBsl4zKS48R1oaHpybUQqOJC6MTnaHwwCTczRYFIP5qyRKSZzMAEQ5Kr3UPq1Tn4
1CJZU0VS5AdqFoXG5DQ42RXg5Ro/XOzvH620N/VWV7xe9/Ldd5O+gAC/HNwPcjKM37/1+JK8iD4N
NCx59LElr+POgC3ldSBVu92B6JJTrqmVZM8sBmOywgzSZrEWU0rPz84wF2hVpA6N8ClET32VSjS2
fbNXo4WH0cZduSQNN4xQ14oLC/XsuP4Xbf6VcYG/EXmfjov9ynVhBZgd3ReiAM22ugndmIozclWc
9GzbOSsRa8ju2kpm7u5sRE3f6bQZvHd/BUeSijw7S04RBZkNOdFxQNVRZrgIBkgvrQyfuXAxJsbI
4KLm555rIv+bn1/T9Pzzqf+Yh0ZE5/9B9tuIqMxFQNB4UvMnnXMIhEiwHIjkepJH3nBTvKyWN8fa
t9fF14StlSUNwXN3HBBeAPXlzUuHwQ3Cj4I9i0fgzlhtWc9AdN2KuX53rqOkJt656ZHXBT/IKb9l
dfXDwvtNN2yowzYH19URr2xYB69SWScaMWt1XXifmLLZS+xwXdK2/7P4aKwVs+J7nVjE2dGBT4hq
TMPnvjq+pGbMivLNlGW92iKxetDT1uj5Cq4mpW92zr6WNM9XQ5v0M6RPAOFNJ90JqU4BHAemugXe
Evk2pWMg5TNTfTSqVJVr1k6aw+uv0EqzJtVLcyP465ReGpTfJb6ESvg6VYShRknTNslHDMkCDQlI
SCYgTb3EhgJlC+pqADMGO5eNRt2e7Jr1q2I+j8NTY/UHc7OM6WG+INdvysqEAPy1OrO+Y3VHpCpL
kxHZ3nedcqehrNZXalTRYAksYp15TFaO3SN4Rbsl9gqcI70Cpf9StwCWlGvqGHjhtkj3tXYNQMeR
qfSO/T/RK7s2ehffvmnJNdNrP3w5vRX/Mn+5ayT55ODW3YWhkWun+kht7VS6XyJ0t/9LdOM8R/Qz
MxzdNa1E3yqF8oDHUu5XJp2f3RdVZcgzr31tXqkjKPpFlV4iRX5xuizF/8XdES3WNS3qH+R8+tpX
QM6zU3RfInTHqYZ/iW6YPLKMJI8sr4n+sXKUxHWZckymnGtdBHgZTy0fwnNNpKf/At0GaRQzlVFN
aCWs2FVICjOp7pc4igSwaRS775In46THQRImnQEynNKlVvbITvmWReEWu0bvqvXtr41C4ba0urgj
bFCvXHZL/zyrv61wQUGJw9vAsT02mKnxmFeCyG8zKnyFZbsdy9R6hyrfF4hmyMHSRZ0Mo9MxzJLm
PWUtJoO+bGcTY2VY/1x3icuaka7LylJZNYodEb5sKFtLyxQWjc3jN+uTPUgNpAcpOLMHCW/C5dkn
TwqbE51JJYW4M2ket1aZYyxxs+ZU5lmTLWvN8ZYy9Sc3kWYlJy82KxW4zQ65NGcy61R0SDMc5uY/
nF6IeCz2F50j/UX2q3UYYVNzlS6jIDLcl3UaAecRagLH2FfjwKe6V8HRg4zt5Tgch2ficF0dh3hU
Mzsat2ggr4CJWMC0GevJuTrXkkcrs6OLE4W/Ajai0TiHPU96kM5Nz4mrh4bmY2d5UcgSm/tIrxJQ
pupdYq4rw+NKsZPC48hhOUy8jcZxZNz0nBgNBUnnQEaLBp9O/A6NNyfhzsiJ0ZRVosEiMzDJuFfn
b9AL30QZBY7UZeQan3gvAhsirxjxG5gYPbV1J6N1vbPmTOnyEq/y1pVl/izPN7S3FG6z2Hra4Jzy
4qb2kngdHNLf89jqqiNs8dwGdvAWTziYz3OFQQtrEubVLJpX37ygR6x7kh6kl1B0FrlqF9KsXuhK
7Um/mNXZzNK3BMdmOBXiO8U+pnPkLN4yeycTSSGu0M0k/AXt+cyWJig7MgX22FfBxkHOlWAfRWJy
GWjpYeoy2ParwRZTgyuAf14UrcsxTMQVIo6XCI7g1XDMsm1Xwmqebdsup+OyGGA6Px1X261kanKl
HXuf6Mfl6LCu0GjdFfBumE40S0tR7qTrBXoXP/FazpVyXCnYML42+XINfuKAqb9/XnFubnEugiNH
tPLIpxhQfpw3mR/jgvVkekzHkhdAPTKS0PMR8G64IOaxl6+vq2rxRPNL3DcP9f/1A1e5Nq/QAbJ+
x5Xr/AEbeM5XnF83J7ikrZDz5pXllzVuPCO88JRP4awPWhc9VaR01RZwSO9IvxaSbePUHriZHVvE
j1yha+vLpDG7vHMLPJTsXRbhj30VfNkV4W9MGsErwH/w8Ez4jqvTz10ZxTcmjeeVsEzI+dR1OK/S
25byHVdAJXw5YXWvhEq0w6S3jNQymSt3lxFeXd5hphRZNaPLDNYenuidHPsneyevX906tXeS7rt0
ee8kPY1Oy2yUJnlxObWPpjhxGb2iAxX7ZX8ILk70yyI3dxF37uLPrMl7P9nJ+1M8CrfQJsT05P5P
NHr4OPB8Z/hk+WgcfFv485kbkvcaqL+k+nX1Mb0MeRU0rXokFBrheTh2L7+9WOgEXMlAOZGrwsT5
NB6+Q5mIZibPxfnUrVoczPLoD3SyH3fihs+joF54Gtw4/rf53bf2rCjvHamc1w6+EG46lKFuDS/a
vWepJ+7SgAe2/3DI5F/T9/Wlp5aHgvZhYTvIKFVb/KPXDV6nd1iTsRG9C9kGJ8oKwhN346ZcTBQ7
QlHokgxcxMB5qsmVr9K4mnt3x2uGh/bdtLm/qWtZeTiUYzBKoXCXvCbW/Itfy8v8BcV7QFOsrLaq
im++v8xirViy5I6tQ6ebm43moL016Ctr+M/CkpJNLZ3d1ZXLWkSdI/ds6P0UT5Vf400bwHJhJha+
tgs3IDa4bsifN3htF2/gB3vEs1yY7KvFZyKBf76zViuS+lUNtr/YsW0kGBr+qj5b2Hy0Crd5TzvD
Uk05xZoouCRPsoRXUudiUw6znhXrF+T+C6krqKbegOFEiqdchHlHZFzyPsyTIkOg2HeK+EHmT3ae
xsT5UxtQL4mrm+hDfZKsAuuTMtEKHoTfJbZQxtKidMZIxqZFCxE9POGqEoDj8nWBbCPb6CzIVmtM
Gpm/LaMtU+HY4S7ItMvzrTQE/71A2LPO6c/YIPHyYMuCTa5GaR/05ptI385vYTkIifdrklFvq2i1
U+FuckwRWhMeI67jBZF2WJ6iOfEZrMRXCcW+bAWSTy6Me51fXJiWbrTxrgH7YlpmNRTBMbUxz6I/
pNDoxbXWwSbq1eTdHD6srzsCm0ZG8P0JGKTOo7x9Ws9QKgHPmcyp4aapOTKg8hNl1O+THVnkenEZ
0GPtiGyab2QC7iafKU9qtTLOZVnGZZjud2AjKEMxFrkfMUscdX62mOmykBYm3oVxUDrRY5f8dhp/
5PDK+fzoShjHF8zJuvMAhOlggKwbiUge+K2QAwa2Tnx295TP4LbxW1OfucET1CPwRWxztSz5ThG9
AjLhRw5Ldb0qvQbEwRMjJZoyfRmd4bGj8bnge9SjxD9h2yzeXsd313MPSpWueh0jhxVwbG/Qq/FJ
eanSpNGiOVximHqEuhHPiU2dw03OuXFvITc5Be2XBzwF5sGfod1yiJThL7HAtOmRVE199zACouBM
RrMxreKxKa/BU3sQSI1eSvPpZqP5+LR3oq3xgO8hHGNJHOHkNWMexW1IKqe+++UsOODYV+NIDINO
snbbzNVPffPGJCsenYUrM1iE9yLxDvgieYcvdccI9/9/8a19jzyy71tgi7AW3L3tD3/AY22JN8F/
Ib3QkpUmv58g2f6GHs8PPfDgfQ8MPvDQQw/Bc0/0v9j3+ON9L60l9/feAhFwHktfSmuMXTu7unYC
L37uwnayDz0doo6l8ldsHlMPmBgdFZ4UH8fIDxpjTvw67ZVp3z20iOr///D9QxL9tA9l5PZ/8qtP
6M6v+G6iL0jX0+zfTUT/1OpfPr/A5c9vu+dPQKaw6c3OLNrFzRW/tOjUiajVoI41uJxTvrSI536K
G5Nm/9KiNzOWRzrqwmsGy8o/MJrDVqMtxlrbWhHfi6lR6iXSA5bsBGVemtL9Kdq6EHWAeh58Quyo
2B4WIp1hnwzcPDAwp57Y0a245xa+inWfw+1MYCggHDXCfzOOtxEY2sSXUIZ8A4e7P7ChcslYHfau
ehS7Tnx7EvISmKnYWYRDUBZadsgApM5PAfiN83Hm0JJwwcBvuU5nLoRznMG8X6+FN+7KH+6mNRKp
Pq17j3/Q9adulTJD1f0HUSfSwSC8hdR38M0TNVsJlIAtBA7cPs3EJESSXXp4Sz2dpoxXViklafXL
OlqEI43rgQE52aeeq4u99gu+9jnQ8o9/lArngaa0NNkH+zfSB0uTThbybRegmzRw0uQ+3gUk/8kT
pSvcyVNAGwjHkjfQZtzNMzqy6c0N+FbazBt6WUa92vazkTYhU1wbxvNpEs9VsMyCYWTkivBfH6+g
/i/0H2/KAAB42qVUTWsTQRh+89VWEK1VCh6U9yQtNGmSU2u8ZPtFoaWxaRG8bbKTZkiyE2YnhfQX
ePM/eBQRf4QXL148+EO8i89MJh9tKhbchZ1n3s9nd553iWg19YBSNLp+pr54nKLH6TFOUzb93eMM
Pcs89DhLTzJvPM7R88xHjxdg/+XxIr3OfvJ4mZ7myh4/ooXcW49XaDX3HpVT2Xto/Nl1sThFL9Lv
PE7TUvqrxxl6mf7hcZbWMnmPc/Qq0/V4AfZvHi/Sh+ySx8tUzv72+BHdzx15vEIbuZB2SFGfhqRJ
0gW1yRDTGjVpHWuJtnGXaGOCt4CqFCGnQQK4jswEOYJ6WJkOKUauQrW+e4bOF1HB5XVxM51OOiVu
J7AKxF76yMDtDCIU4iOX2aErZEXwxEB5OkCEcrUT+Bg+W0tgtXk2n9GbsQr0kp6jdh0Y2DKLHOsQ
2FZQLud2TwvPeVZnePe+Y8B0hB49133UQYIney5M59hNfXWg0HO3LGNYN31/NcPffscBvMadjY0u
EO2o/lDLi7bhteY6l7a3Sxv2ucXVSDUE14eJEb2ED+Om0n2lQyOiAle7XT61SQmfikToSxgDoU1b
dSOudq5kJOKr/IFWRiQdlgkLadpCc8haXEhU1CJio8NI9ELdYaVnNy2elDob9kXCR7In0ZZlzKjC
57Hb1Q24JBzG0SbylavfVIPYaCkSvNjNM+a5Mw5oD2GeLY/ZBjAG/kwoAAuCVAtUpApK7rqkylzx
66VtTJ6ObYFSoVip7gZ7lXEf3ybYyx9HdPc6t6efQDP7bpZGBGvQAgMVvcWuFTeR2ulmZC1QGTed
nO2zpVerc7EIUCxVdpQW1lYol/+bWw1fUECNiets+7e8Dg3KTLV82//C5jSBJHxW963JNI1yWs5u
/jJfdhZGGm9A79MqsaMvUdlrv9YVYSKgyRa0Y5RT13QeEtE0UsXcsvKEp6ViM6PT0EBpjYELiZWR
Tae6f/9rbuqQ5gZnLEXC57UTLvEWPWxEJAe9uwqbr5/NjLwZp/MHB7lfGHjabc9VjA8AAIDx3/2d
ztPd3d3N4UJ3d8dxnO6+44zZeGJqNkw7THfndHd3vvKfZ9/2PX/7BPzjT5LK/sfboCECkgmVXAop
pZJaGmmlk14GGWUSJrMsssomuxxyyiW3PPLKJ78CCiqksCKKKqa4EkoqpbQyyiqnvAoqqhRsV1FV
NdXVUFMttdVRVz31NdBQI4010VS4ZpprIUKkKNFaaqW1Ntpqp70OOuqksy666qa7Hnrqpbc++lpv
rnkOWxH8mW+JRVbZZIME982x3Hc/JFppoZMe+2a1zX756bd1tjrvrG366W+pAS4a6JwLrrrksive
GeSGa67bbrCvlrntpluG+OCTeMMMNdxII4yyRowxRos1VpxxxpvgvYkmm2SKaabab60Zpptplo8+
O+CO517YYaeXXjnotTc2uuuZBx565Kl7nthlt732OWWPJKfNdsICW5xxxFGHQgIW++KY46HhcbEx
fwE123EKAAAAAAAB//8AAnjaY2BkYGDgA2IJBhBgYmBkYGZ4DiRZwDwGAA5RARwAAAEAAAAKABwA
HgABbGF0bgAIAAQAAAAA//8AAAAAAAB42sWXzU+cRRzHf88u24Xis0DhkRYbDw3vsJT3d7QHitRq
VbStfTHBgyeJNsYYE4wHs3DoH0B2Ew4ekJAeniPhQDwsHr0RGOq5B2Oekwfjbf3MPPssDwsLFTBm
8tl5XmZmZ77z+87MI5aIXJTXpVOsuU+//kLKpYwnksuJfmN9/tlX+pn4d7yLmLxcrKonpuQNeSo/
yq5VZjVYs9b31or1zPrV+iNSHmm3nvE7G3GjZdF70bXoX2UbsUQsEV2LzV64pq8uvIh3xV/E/yyf
LF+qeFKxfjFV+cMr09E1u8FutQftG/YUv3M6ya79jf2d/bP9d+KNxLeJ1cTv8rSqF6arZiQmjbms
JHOupMgXYBFssXNfSkNOyRBvRmCU63HyB+QP4THsUGYX9uA5VEqztJuU5G0veT8M0d4YjMMS92nY
gpj5j+I2aqSeuk28b4FWaIMO6IQuuA7d0AN9MACDMAwTsAxxqRNH6uEyXAE9ltfIr0KF1PJbl/NK
lrgFFk885sqUPdSaVygbNyVKtRQ/tn6p1vfr21KlVYFL6FdLPd1vhxKvQj3PLnN/BUwt8qtQK9d4
08xVO/RCP+i5HCYfoeQouT+fHvPpMZ+eLMEW7FB3F/bgOThyCU1LzUmSGqXnxTHzMko+BuP88wS5
nqM6qea3kdrNPGkHP2ocosahr7qfnunnmIk9JfOUSnG/AIu6v5RLwxZsn6LF7Ikt1p5h5H5E6lEH
UdnNXLrMpWs818SbFmiFNuiATtNnl1YdWnWo4dCqQ6v+GAZAazpkdHVkBIy2ejbNPzkyyfUUvAXT
8DbMwEdwFz6G8KyHfZ82c+PICs/XYQM2dVTw7Bcdd2fSQ89AoIlWfz8SzqpyEF9Bi91SnVdYeyCs
svZDoHSxytonRmnyQOnhfKvFir4PH+SV/TCk7r2CwlkUzsojo3JWPiGf1ysgeRq0yqvFKoNWeZty
egTKuLhJxzPXLeSt0GZcraSDvFNrA9ehG3qM25X0GccrGSAfNM7P5J2fIf6zfrzkUjJxTKwEI9C9
n6etJUjDcqjXW9z7Pda7QYpVI8WqkWLVSDGnx7tRlXRj4MTAhclDvmku8k77Cf7pPcJDB/2je+Ad
OdP7evieCfslWC/0bBY0yXslasavx7R9xhh3Qq7xzsU1xS3669Og0Vk7x9faNXGnYy1J3Oi40jE1
FNJt3Kw3rtw0cZRBtwy6ZeSW0S4jt8nfgXfhDrxnnOPiHBddMzjHRdsMznFxjiv3jXv0ruSitYt7
XOLPxT2ucU+KfAEWIYjHFa5/ot4q+TptbcAm135sZoybaoxWOhZPo9dwXp8+9NHaZGlJFXZXHW+F
HfaQNiqvjUIbhTYqr40qoY1CG4U2Cm0U2ii0UWij8tqoQhw+MqcwD20Uuih0UeiiCiuMXsN9XRS6
KHRRoVVGyZuh0XiH1srwOnmko4rWyuId6b8c/cGRe4dGHuxgx42+x8R5IyXPa5cotX6c904R3iX6
X8qxg0dG5v/n2v258R27aUbkOzUqM/ROa7FOHpVJfm/n+xExdyvmbK5LVDB6xchVyTV73dQKSlnm
+6P6hHOxf9YMn5CKz8OJQgt+bfXSNWsOrNmnPUsm/uXO6hV2oUpTM1zrqJNxULr6TOeyMXNaPK/z
c4xZzDCLmcL3qt5/I4Wn8WO/VCOc5Pmm5Yu7iq8qC99PcHVTpujPHVIHUTdDn+6SknKf1CUP5CE9
e0zqkTlSL7rM07+ULKLaEmmIvT9NL5dJI+z7W7hrR3bp8578JhP/AKdPSvV42mNgYGBkAIJjqdtP
gegtyif+w2gAUfQH6gAA) format('woff'), url('fonts/AkzidenzGroteskBE-Md.ttf') format('truetype'), url('fonts/AkzidenzGroteskBE-Md.svg#AkzidenzGroteskBE-Md') format('svg');
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

body {
  font-size: 26px;
  font-family: Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  overflow-x: hidden; }

a {
  color: #c6c8ca;
  text-decoration: none; }
  a:hover {
    color: #f1f1f2; }

ul, li {
  padding: 0;
  margin: 0;
  list-style: none; }

hr {
  border: none;
  border-bottom: 1px solid #c6c8ca;
  clear: both;
  margin: 0; }

input:focus {
  outline: none; }

.index {
  padding: 16px; }
  .index input {
    background: #f1f1f2;
    border-radius: 0.25em;
    font-size: 26px;
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 0.2em; }
  .index input:focus {
    background: #c6c8ca; }
  .index input[type="submit"] {
    cursor: pointer;
    border: none;
    background: none;
    color: #c6c8ca;
    padding: 0;
    text-align: left; }
    .index input[type="submit"]:hover {
      color: black; }

input {
  font-family: AkzidenzGroteskBE-Md, Helvetica, sans-serif;
  border: none; }

header {
  padding: 0 16px;
  padding-top: 16px;
  min-height: 48px;
  border-bottom: 1px solid #f1f1f2; }
  header .menu {
    position: absolute;
    top: 16px;
    left: 16px; }
    header .menu img {
      width: 20px; }
  header .paths {
    text-align: center; }
    header .paths .path {
      display: inline-block;
      margin: 0 4px;
      font-size: 18px; }
    header .paths .path:before {
      content: "\2022";
      color: #c6c8ca; }
  header .plus {
    position: absolute;
    top: 16px;
    right: 16px; }
    header .plus img {
      width: 20px; }

.errormsg {
  margin-top: 1em; }

.msg {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  font-size: 20px;
  display: none; }

select {
  margin: 1em; }

/*  results page */
.fadein {
  opacity: 0; }

#main {
  position: absolute;
  width: 100%;
  border-left: 1px solid #f1f1f2;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

#sidebar {
  position: absolute;
  z-index: 11;
  background: white;
  height: 100%; }
  #sidebar li {
    border-bottom: 1px solid #f1f1f2;
    padding: 0.5em;
    height: 48px; }
    #sidebar li a {
      color: black; }

#adjust {
  padding: 16px;
  position: absolute;
  border-bottom: 1px solid #f1f1f2;
  border-right: 1px solid #f1f1f2;
  height: 100%;
  width: 260px; }
  #adjust hr {
    margin: 0.5em 0; }
  #adjust span {
    color: #c6c8ca; }
  #adjust input {
    background: none;
    margin: 0;
    padding: 1em 0; }
  #adjust input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    overflow: hidden;
    border-radius: 8px; }
  #adjust input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #6a75ff;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-top: -4px;
    border: none;
    position: relative;
    pointer-events: none; }
  #adjust input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    background: #f1f1f2;
    border: none;
    border-radius: 3px; }
  #adjust input[type=range]::-webkit-slider-thumb:before {
    content: "-";
    font-style: 0;
    line-height: 0;
    position: absolute;
    left: -300px;
    right: 0;
    top: 4px;
    bottom: 3px;
    background: #6a75ff; }
  #adjust input[type=range]::-webkit-slider-thumb:after {
    content: "";
    position: absolute;
    left: -4px;
    right: -4px;
    top: -4px;
    bottom: -4px;
    background: #6a75ff;
    border-radius: 50%;
    z-index: 10; }
  #adjust input[type=range]:focus {
    outline: none; }
  #adjust input[type=range]:active input[type=submit] {
    color: #6a75ff; }
  #adjust input[type="submit"] {
    font-size: 1em;
    text-align: center;
    width: 100%; }
  #adjust label {
    font-size: 16px;
    display: block;
    line-height: 1.4em;
    margin: 1em 0; }
  #adjust .numbers {
    font-size: 12px;
    text-align: center; }
    #adjust .numbers .num {
      display: inline-block;
      width: 6.6%; }

/*  */
#nodes {
  position: relative;
  width: 100%;
  padding: 0.5em 0;
  transition: top 500ms;
  top: 0px;
  margin-left: 16px; }

.node-dad {
  position: relative;
  display: none;
  transition: background 300ms;
  padding: 0.2em 0;
  margin: 0.2em 0;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent; }
  .node-dad.selected {
    border-bottom: 1px solid #f1f1f2;
    border-top: 1px solid #f1f1f2;
    cursor: -webkit-grab;
    cursor: -moz-grab; }
    .node-dad.selected:active {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing; }
    .node-dad.selected .synonym {
      display: inline-block; }
  .node-dad .toggle {
    margin-right: 16px;
    display: inline-block;
    overflow: hidden;
    width: 0px;
    position: relative;
    top: 6px;
    cursor: pointer; }
    .node-dad .toggle img {
      width: 24px;
      vertical-align: middle; }
  .node-dad .dots {
    display: inline-block;
    margin: 0 2px;
    font-size: 18px;
    color: #c6c8ca;
    transition: transform 500ms; }
  .node-dad .node {
    color: black;
    display: inline-block;
    position: relative;
    padding-right: 24px; }
  .node-dad .node-btn {
    background-image: url('/images/radio.png');
    position: absolute;
    width: 12px;
    height: 12px;
    left: -14px;
    top: 9px;
    background-repeat: no-repeat;
    display: none;
    cursor: pointer; }
    .node-dad .node-btn.noded {
      background-position: -12px; }
  .node-dad .synonym {
    display: none;
    transition: display 300ms;
    color: #c6c8ca;
    padding-right: 24px;
    position: relative; }

.ldr {
  width: 12px; }

#modified-search {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 2em; }
  #modified-search form {
    margin-bottom: 1em;
    background: #f1f1f2; }
  #modified-search input[type="submit"] {
    font-size: 24px;
    white-space: pre-wrap;
    text-align: left;
    border: none;
    background: none; }
  #modified-search button {
    background: #f1f1f2;
    text-align: left;
    border-radius: 4px;
    font-size: 20px;
    padding: 0.25em;
    border: none;
    font-family: AkzidenzGroteskBE-Md, Helvetica, sans-serif; }

.node-dad:first-child, .node-dad:last-child {
  padding: 0.25em 0;
  display: block;
  font-weight: 600; }
  .node-dad:first-child .node, .node-dad:last-child .node {
    color: black; }
  .node-dad:first-child:hover, .node-dad:last-child:hover {
    background: none; }

.filter {
  position: absolute;
  padding: 0.5em;
  margin: 0.25em;
  box-shadow: 0 0 5px #f1f1f2;
  display: none;
  left: 200px;
  font-size: 14px;
  border-radius: 4px; }

.newsearch a {
  padding: 0.5em;
  border: 1px solid #f1f1f2; }
