$lightgray: lightgray;
$gray: gray;
$black: black;
$white: white;

body {
    font-size:24px;
    font-family: Helvetica, sans-serif;
    margin:0;
}
.index {
	margin:0.5em;
}
.errormsg {
	margin-top:1em;
	border:1px solid $lightgray;
	display:inline-block;
	padding:0.5em;
}
.msg {
	margin-top:1em;
	border:1px solid $lightgray;
	display:inline-block;
	padding:0.5em;
	display:none;
}
span {
	color:$gray;
	font-size:12px;
}

input {
    border:none;
    background:$lightgray;
    padding:0.5em;
    margin-right:10px;
    font-size:18px;
}
input:focus {
	background:gray;
}
input[type="submit"] {
	cursor:pointer;
	border:none;
	background:none;
	color:$lightgray;
	&:hover {
		color:$black;
	}
}
select {
	margin:1em;
}

/*  look up page */
header {
	background:$white;
	padding:0.5em;
	padding-bottom:0;
	z-index:1;
	position:relative;
}
.start, .end {
	background:$lightgray;
	padding:0.5em;
	display:inline-block;
}
.start {
	margin-right:0.5em;
}
.end {
	margin-left:0.5em;	
}

hr {
	border:2px solid $lightgray;
	height:0;
	margin-bottom:0;
}
.nodes {
	position: relative;
	padding:0.5em;
	transition:top 500ms;
	top:0px;
}
.node-dad {
	position: relative;
	.node {
		color:$lightgray;
		display:inline-block;
		cursor:pointer;
		margin:0.2em 0.1em;
		&:hover, &.hover {
			color:$gray;
		}
	}
}

.node-nugget {
	width:0.3em;
	height:0.3em;
	border-radius:0.5em;
	background-color:$lightgray;
	margin:0 10px;
	display:inline-block;
	cursor:pointer;
	&:hover {
		background-color:$gray;
	}
}
