@import 'fonts';

$akz: AkzidenzGroteskBE-Md;


$lightgray: lightgray;
$gray: gray;
$black: black;
$white: white;
$lightblue:#f7f9ff;
$blue: rgb(106,117,255);

body {
    font-size:26px;
    font-family: $akz, Helvetica, sans-serif;
    margin:0;
    width:100%;
    overflow-x:hidden;
}
a {
	color:$gray;
	text-decoration:none;
	&:hover {
		color:$lightgray;
	}
}
.index {
	padding:0.25em 0.5em;
	padding-left:42px;
	input {    
	    background:$lightgray;
	    padding:0.5em;
	    margin:10px;
	    font-size:18px;
	    display:block;  
	}
	input:focus {
		background:gray;
	}
	input[type="submit"] {
		cursor:pointer;
		border:none;
		background:none;
		color:$lightgray;
		&:hover {
			color:$black;
		}
	}
}
input {
	font-family:$akz, Helvetica, sans-serif;
	border:none;
}
.menu {
	margin-left:16px;
	margin-top:18px;
	position:fixed;
	img {
		height:32px;
	}
}

.errormsg {
	margin-top:1em;
	border:1px solid $lightgray;
	display:inline-block;
	padding:0.5em;
}
.msg {
	margin-top:1em;
	border:1px solid $lightgray;
	display:inline-block;
	padding:0.5em;
	display:none;
}
span {
	color:$gray;
	font-size:12px;
}



select {
	margin:1em;
}

/*  results page */


.adjust {
	padding-left:64px;
	background:$lightblue;
	font-size:12px;
	color:$lightgray;
	padding-top:1em;
	display:none;
	input {
		background:none;
		display:block;
		padding:1em 0;
	}
	input[type=range]{
    	-webkit-appearance: none;
	}
	input[type=range]::-webkit-slider-runnable-track {
	    height: 3px;
	    background: $lightgray;
	    border: none;
	    border-radius: 3px;
	}
	input[type=range]::-webkit-slider-thumb {
		-webkit-appearance: none;
		background:$blue;
		width:20px;
		height:20px;
		border-radius:10px;
		margin-top: -8px;
		border:none;
	}


	label {
		margin:1em 0;
		display:block;
	}
}

.nodes {
	position: relative;
	padding: 0.5em 0;
	transition:top 500ms;
	top:0px;
	margin-left:64px;
}
.node-dad {
	position: relative;
	display:none;
	transition:background 300ms;
	padding:0.2em 0;
	margin:0.2em 0;
	&:hover, &.hover {
		& .synonym {
			display:inline;
			background:$lightblue;
		}
		& .node {
			background:$lightblue;
		}
	}
	.node {
		color:$lightgray;
		padding:0.2em;
		padding-left:0;
		display:inline;
	}
	.synonym {
		display:none;
		transition:display 300ms;
		color:$lightgray;
		padding:0.2em;
		padding-left:0.5em;
		&:hover {
			color:$black;
		}
	}
}
.ldr {
	width:12px;
}
#modified-search {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.9);
	padding: 2em;
	
	form {
		margin-bottom:1em;
		background:$lightgray;
	}
	input[type="submit"] {
		font-size:24px;
		white-space:pre-wrap;
		text-align:left;
		border:none;
		background:none;
	}
	button#cancel {
		background:$lightgray;
		font-size:20px;
		padding:0.25em;
		border:none;
		font-family:$akz, Helvetica, sans-serif;
	}
}

.node-dad:first-child, .node-dad:last-child {
	padding:0.25em 0;
	display:block;
	.node { 
		color:$black;
	}
	&:hover {
		background:none;
	}
}

.filter {
	position:absolute;
	padding:0.5em;
	margin:0.25em;
	box-shadow:0 0 5px $lightgray;
	display:none;
	left:200px;
	font-size:14px;
	border-radius:4px;
}

.newsearch {

	a {
		padding:0.5em;
		border:1px solid $lightgray;
	}
}
