$lightgray: lightgray;
$gray: gray;
$black: black;
$white: white;

body {
    font-size:24px;
    font-family: Helvetica, sans-serif;
    margin:0;
}
a {
	color:$gray;
	text-decoration:none;
	&:hover {
		color:$lightgray;
	}
}
.index {
	margin:0.5em;
}
.errormsg {
	margin-top:1em;
	border:1px solid $lightgray;
	display:inline-block;
	padding:0.5em;
}
.msg {
	margin-top:1em;
	border:1px solid $lightgray;
	display:inline-block;
	padding:0.5em;
	display:none;
}
span {
	color:$gray;
	font-size:12px;
}

input {
    border:none;
    background:$lightgray;
    padding:0.5em;
    margin-right:10px;
    font-size:18px;
}
input:focus {
	background:gray;
}
input[type="submit"] {
	cursor:pointer;
	border:none;
	background:none;
	color:$lightgray;
	&:hover {
		color:$black;
	}
}
select {
	margin:1em;
}

/*  look up page */
header {
	background:$white;
	padding:0.5em;
	padding-bottom:0;
	z-index:1;
	position:relative;
}


hr {
	border:2px solid $lightgray;
	height:0;
	margin-bottom:0;
}
.nodes {
	position: relative;
	padding:0.5em;
	transition:top 500ms;
	top:0px;
}
.node-dad {
	position: relative;
	display:none;
	.node {
		color:$lightgray;
		display:inline-block;
		cursor:pointer;
		margin:0.2em 0.1em;
		&:hover, &.hover {
			color:$gray;
		}
	}
}

.node-dad:first-child, .node-dad:last-child {
	background:$lightgray;
	padding:0.25em;
	display:inline-block;
	.node { 
		color:$gray;
	}
}

.filter {
	position:absolute;
	padding:0.5em;
	margin:0.25em;
	box-shadow:0 0 5px $lightgray;
	display:none;
	left:200px;
	font-size:14px;
	border-radius:4px;
}

.newsearch {
	position:absolute;
	right:0.5em;
	top:0.5em;
	a {
		padding:0.5em;
		border:1px solid $lightgray;
	}
}
